<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <meta name="description" content="KM Group Co."/>

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>KMGroup</title>

    <style>
      #initial-loading {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        animation: load 0.8s 0s infinite normal ease-in-out;
      }
      @keyframes load {
        0% {
          transform: translate(-50%, -50%) scale(1.0);
        }
        50% {
          transform: translate(-50%, -50%) scale(1.1);
        }
        100% {
          transform: translate(-50%, -50%) scale(1.0);
        }
      }
    </style>

    <!-- Start of Async Webfont Code -->
    <script>
      WebFontConfig = {
          custom: { 
            urls: [
              'https://fonts.googleapis.com/css?family=Roboto',
              'https://fonts.googleapis.com/css?family=Poppins',
              'https://fonts.googleapis.com/css?family=Inter',
            ]
          }
      };
      (function(d) {
         var wf = d.createElement('script'), s = d.scripts[0];
         wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
         wf.async = true;
         s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
    <!-- End of Async Webfont Code -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180680762-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-180680762-1');
    </script>

    <!-- Start of Async Drift Code -->
    <script>
      "use strict";
      !function() {
        var t = window.driftt = window.drift = window.driftt || [];
        if (!t.init) {
          if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
          t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
          t.factory = function(e) {
            return function() {
              var n = Array.prototype.slice.call(arguments);
              return n.unshift(e), t.push(n), t;
            };
          }, t.methods.forEach(function(e) {
            t[e] = t.factory(e);
          }), t.load = function(t) {
            var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
          };
        }
      }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('8pmfpnwxdbiw');
    </script>
    <!-- End of Async Drift Code -->
  </head>
  <body>
    <img id="initial-loading" src="loading.svg" alt="loading icon"/>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
