<template>
    <section class="carouselwithbackgroundview-root">
        <div 
        class="carouselwithbackgroundview-container"
        :style="`background-color: ${backgroundColor}`">
            <splide 
            class="carouselwithbackgroundview-img-container"
            ref="carouselwithbackgroundview-img-container"
            :options="imgOptions"
            :slides="content"
            @splide:mounted="handleImgMounted">
                <splide-slide
                v-for="(contentItem, contentKey) in content" 
                :key="contentKey">
                    <Pic 
                    classes="carouselwithbackgroundview-img"
                    :img="contentItem.backgroundImg"/>
                </splide-slide>
            </splide>

            <div class="carouselwithbackgroundview-carousel-wrapper">
                <div class="carouselwithbackgroundview-carousel-container">
                    <splide 
                    class="carouselwithbackgroundview-carousel-splide"
                    ref="carouselwithbackgroundview-carousel-splide"
                    :options="options"
                    :slides="content"
                    @splide:mounted="handleMounted">
                        <splide-slide
                        v-for="(contentItem, contentKey) in content" 
                        :key="contentKey">
                            <div class="carouselwithbackgroundview-content" >
                                <div class="carouselwithbackgroundview-heading">
                                    <span 
                                    v-for="(value, key) in contentItem.heading"
                                    :key="key"
                                    class="carouselwithbackgroundview-heading-word"
                                    :style="`color: ${value.color}`">
                                        {{value.word}}
                                    </span>
                                </div>
                                <p class="carouselwithbackgroundview-description">
                                    {{contentItem.description}}
                                </p>
                            </div>
                        </splide-slide>

                        <template v-slot:controls>
                            <div class="splide__arrows carouselwithbackgroundview-button-container">
                                <button class="splide__arrow splide__arrow--prev carouselwithbackgroundview-button carouselwithbackgroundview-button-left">
                                    <img 
                                    class="carouselwithbackgroundview-button-img" 
                                    :src="carouselImgLeft"
                                    alt="slide left button"/>
                                </button>
                                <button class="splide__arrow splide__arrow--next carouselwithbackgroundview-button carouselwithbackgroundview-button-right">
                                    <img 
                                    class="carouselwithbackgroundview-button-img" 
                                    :src="carouselImgRight"
                                    alt="slide right button"/>
                                </button>
                            </div>
                        </template>
                    </splide>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
/*
**************************************
    content: ARRAY(
        OBJECT(
            heading: ARRAY(
                OBJECT(
                    word: STRING,
                    color: STRING
                )
            )
            description: STRING
            backgroundImg: OBJECT(
                1: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
                2: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
                3: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
            )
        )
    )
**************************************
*/
import Pic from '../components/Pic'
import { Splide, SplideSlide } from '@splidejs/vue-splide'
import '@splidejs/splide/dist/css/splide.min.css'

export default {
    name: 'CarouselWithBackgroundView',
    components: { 
        Splide, 
        SplideSlide,
        Pic,
    },
    props: ['content'],
    created() {
        this.content.forEach((value, key) => {
            if(key > 0) {
                const img = new Image()
                img.onerror = () => {
                    img.srcset = `${value.backgroundImg[1].jpeg} 768w, ${value.backgroundImg[2].jpeg} 1024w, ${value.backgroundImg[3].jpeg} 1440w`
                }
                img.srcset = `${value.backgroundImg[1].webp} 768w, ${value.backgroundImg[2].webp} 1024w, ${value.backgroundImg[3].webp} 1440w`
                img.src = `${value.backgroundImg[1].jpeg}`
            }
        })
    },
    methods: {
        handleImgMounted(splide) {
            this.imgSplide = splide
        },
        handleMounted(splide) {
            const root = splide.root 
            const track = root.children[0] 
            track.classList.add('carouselwithbackgroundview-carousel-track')
        },
    },
    data() {
        return {
            imgSplide: undefined,
            imgOptions: {
                keyboard: false,
                slideFocus: false,
                perPage: 1,
                perMove: 1,
                type: 'loop',
                focus: 'center',
                pagination: false,
                arrows: false,
            },

            options: {
                keyboard: false,
                slideFocus: false,
                perPage: 1,
                perMove: 1,
                type: 'loop',
                focus: 'center',
                pagination: false,
                flickVelocityThreshold: 0.3,
                swipeDistanceThreshold: 100,
            },

            carouselImgLeft: require('../assets/svg/left_arrow_accent.svg'),
            carouselImgRight: require('../assets/svg/right_arrow_accent.svg'),
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.carouselwithbackgroundview-root {
    font-size: 16px;
}
.carouselwithbackgroundview-container {
    height: pixel-to-em(747);
    width: pixel-to-em(1440);
    margin: 0 auto;
    position: relative;
}
.carouselwithbackgroundview-img-container {
    width: 100%;
    height: pixel-to-em(628);
    position: relative;
    pointer-events: none;
}
.carouselwithbackgroundview-img {
    width: 100%;
    height: pixel-to-em(628);
    object-fit: cover;
}
.carouselwithbackgroundview-carousel-wrapper {
    width: pixel-to-em(612);
    height: pixel-to-em(238);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-sizing: border-box;
    padding-left: pixel-to-em(21);
    padding-right: pixel-to-em(21);
}
.carouselwithbackgroundview-carousel-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.carouselwithbackgroundview-carousel-splide {
    width: 100%;
    height: 100%;
    position: relative;
    background: $color-primary;
    border-bottom: pixel-to-em(10) solid $color-accent; 
}
.carouselwithbackgroundview-carousel-track {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
.carouselwithbackgroundview-content {
   width: pixel-to-em(490);
   height: calc(100% - #{pixel-to-em(2 * 32)});
   padding: pixel-to-em(32) pixel-to-em(40);
}
.carouselwithbackgroundview-button-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.carouselwithbackgroundview-button {
    height: pixel-to-em(42);
    width: pixel-to-em(42);
    background: $color-primary;
    border-radius: 50%;
    box-shadow:    
    0 pixel-to-em(-2) pixel-to-em(2) 0 rgba(146, 145, 145, 0.33), 
    0 pixel-to-em(2) pixel-to-em(2) 0 rgba(187, 187, 187, 0.4);
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1.0;
}
.carouselwithbackgroundview-button:hover {
    opacity: 1.0;
}
.carouselwithbackgroundview-button:focus {
    opacity: 1.0;
}
.carouselwithbackgroundview-button-left {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.carouselwithbackgroundview-button-right {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}
.carouselwithbackgroundview-button-img {
    width: pixel-to-em(14);
    height: pixel-to-em(14);
    object-fit: contain;
}
.carouselwithbackgroundview-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(24);
}
.carouselwithbackgroundview-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: pixel-to-em(16);
    line-height: pixel-to-em(24);
    letter-spacing: 0.04em;
    color: $color-secondary-dark;
}
@media screen and (max-width: 1440px) {
    .carouselwithbackgroundview-container {
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 648px) {
    .carouselwithbackgroundview-root {
        font-size: pixel-to-vw(16, 648);
    }
}
@media screen and (max-width: 512px) {
    .carouselwithbackgroundview-root {
        font-size: vw-to-pixel(pixel-to-vw(16, 648, false), 512);
    }
   .carouselwithbackgroundview-carousel-wrapper {
        width: pixel-to-em(476);
        height: pixel-to-em(312);
   }
   .carouselwithbackgroundview-content {
       width: pixel-to-em(354);
   }
}
@media screen and (max-width: 408px) {
   .carouselwithbackgroundview-carousel-wrapper {
        width: pixel-to-em(422);
        height: pixel-to-em(356);
   }
   .carouselwithbackgroundview-content {
       width: pixel-to-em(300);
   }
}
@media screen and (max-width: 366px) {
    .carouselwithbackgroundview-root {
        font-size: pixel-to-vw(vw-to-pixel(pixel-to-vw(16, 648, false), 512, false), 366);
    }
    .carouselwithbackgroundview-carousel-wrapper {
        left: pixel-to-em(9);
        transform: translate(0, -51%);
    }
}
</style>