<template>
    <section class="contactview-root">
        <div 
        class="contactview-container"
        :style="`background: ${backgroundColor}`">
            <img 
            class="contactview-texture" 
            :src="textureImg"
            alt="background texture"/>

            <Pic 
            class="contactview-img-layout"
            classes="contactview-img"
            :img="image"/>
            <form 
            class="contactview-form" 
            ref="contactview-form"
            @submit="handleSubmitClick">
                <div class="contactview-form-heading-container">
                    <span class="contactview-form-heading">
                        {{formHeading}}
                    </span>
                </div>
                <Input 
                v-for="(value, key) in inputList"
                :key="key"
                class="contactview-input"
                :id="value.id"
                :label="value.label"
                :name="value.name"
                :type="value.type"
                :value="value.value"
                :textareaRows="value.textAreaRows"
                :dropdownPlaceholder="value.dropdownPlaceholder"
                :dropdownOptions="value.dropdownOptions"
                :autocomplete="value.autocomplete"
                :disable="value.disable"
                :error="value.error"
                :submit="submit"
                @submit="handleSubmit"/>

                <FormSubmitButton class="contactview-formsubmitbutton"/>
            </form>
        </div>
    </section>
</template>

<script>
/*
*******************************************************************
    image: OBJECT(
        1: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        2: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        3: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
    )
    formHeading: STRING
    inputList: ARRAY(
        OBJECT(
            id: STRING
            label: STRING
            name: STRING
            type: STRING ['TEXT', 'DROPDOWN', 'TEXTAREA']
            value: STRING
            textareaRows: INTEGER
            dropdownPlaceholder: STRING
            dropdownOptions: ARRAY(
                STRING
            )
            autocomplete: STRING ['off', '']
            disable: BOOLEAN
            error: BOOLEAN
        )
    )
*******************************************************************
*/
import Input from '../components/Input'
import FormSubmitButton from '../components/FormSubmitButton'
import { Email } from '../js/smtp'
import data from '../model/data'
import Pic from '../components/Pic'

export default {
    name: 'ContactView',
    components: { 
        Input, 
        FormSubmitButton,
        Pic,   
    },
    props: ['image', 'formHeading', 'inputList'],
    methods: {
        handleSubmitClick(event) {
            event.preventDefault()
            this.submit = true
        },
        handleSubmit(id, value) {
            this.indexMap[id].value = value

            const input = this.inputList[this.indexMap[id].index]
            input.error = false
            if(!value || (
                input.type === 'DROPDOWN' 
                && value === input.dropdownPlaceholder
            )) input.error = true
            
            switch(id) {
                case 'email': if(!this.checkEmail(value)) input.error = true; break
                case 'mobile': if(!this.checkPhone(value)) input.error = true; break
            }

            this.submittedCount += 1
            if(this.submittedCount >= this.inputList.length) {
                this.submittedCount = 0
                this.submit = false
                
                let error = this.inputList.find((val) => { return val.error }) ? true : false 
                
                if(!error) {
                    const subject = 'Contact ' + parseInt(Math.random() * 1000000)
                    const body = 
                    '<html><h3>' + 
                        Object.keys(this.indexMap).map((value) => { 
                            return '<i style="color:#757575">' + value + ':</i> ' + this.indexMap[value].value 
                        }).join('<br>') +
                    '</h3></html>'

                    Email.send({
                        SecureToken: data.smtpToken,
                        To: this.indexMap['email'].value,
                        From: data.fromEmail,
                        Subject: subject,
                        Body: body
                    }).then(message => {                        
                        if(message === 'OK') this.$store.commit('setNotification', 'Email Sent')
                        else this.$store.commit('setNotification', 'Couldn\'t Send Email')

                        setTimeout(() => this.$store.commit('setNotification', ''), 3000)
                    })
                }
            }
        },
    },
    data() {
        let map = {}
        for(let index in this.inputList) {
            map[this.inputList[index].id] = {
                index: index,
                value: this.inputList[index].value
            }
        }

        return {
            textureImg: require('../assets/svg/background_texture.svg'),
            backgroundColor: this.$store.getters.layoutColor,
            indexMap: map,
            submit: false,
            submittedCount: 0,
            showNotification: false,
        }
    }
}
</script>

<style lang="scss">
.contactview-root {
    font-size: 16px;
    position: relative;
}
.contactview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: pixel-to-em(20);
    box-sizing: border-box;
    padding-left: pixel-to-em(135);
    padding-right: pixel-to-em(135);
    position: relative;
}
.contactview-texture {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: rotate(4.79deg);
    object-fit: cover;
}
.contactview-img-layout {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}
.contactview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contactview-form {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    filter: 
    drop-shadow(0 0 pixel-to-em(4) rgba(0, 0, 0, 0.25));
    background: $color-background-dark;
    box-sizing: border-box;
    padding: 
    pixel-to-em(20) pixel-to-em(40) pixel-to-em(40) pixel-to-em(40);
    position: relative;
}
.contactview-input {
    margin-top: pixel-to-em(12);
    width: 100%;
}
.contactview-form-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(36);
    color: $color-text-dark;
}
.contactview-formsubmitbutton {
    position: absolute;
    right: 0;
    bottom: pixel-to-em(-98);
}
@media screen and (max-width: 1440px) {
    .contactview-container {
        width: 100%;
        padding-left: pixel-to-vw(135, 1440);
        padding-right: pixel-to-vw(135, 1440);
    }
}
@media screen and (max-width: 1120px) {
    .contactview-container {
        padding-left: pixel-to-em(50);
        padding-right: pixel-to-em(50);
    }
}
@media screen and (max-width: 1000px) {
    .contactview-root {
        font-size: pixel-to-vw(16, 1000);
        position: relative;
    }
}
@media screen and (max-width: 768px) {
    .contactview-root {
        font-size: 
        vw-to-pixel(pixel-to-vw(16, 768, false), 768);
    }
    .contactview-img {
        display: none;
    }
    .contactview-form {
        grid-column: 1/3;
    }
    .contactview-formsubmitbutton {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: pixel-to-em(-98);
    }
}
@media screen and (max-width: 620px) {
    .contactview-form {
        padding-left: pixel-to-em(20);
        padding-right: pixel-to-em(20);
    }
}
@media screen and (max-width: 536px) {
    .contactview-root {
        font-size: 
        pixel-to-vw(vw-to-pixel(pixel-to-vw(16, 768, false), 768, false), 536);
    }
}
</style>