<template>
    <section class="enquirytextview-root">
        <div 
        class="enquirytextview-container"
        :style="`background: ${backgroundColor}`">
            <div class="enquirytextview-heading-container">
                <span class="enquirytextview-heading">
                    {{heading}}
                </span>
            </div>
            <p class="enquirytextview-paragraph">
                {{paragraph}}
            </p>
        </div>
    </section>
</template>

<script>
/*
***************************
    heading: STRING
    paragraph: STRING
***************************
*/
export default {
    name: 'EnquiryTextView',
    props: ['heading', 'paragraph'],
    mounted() {
        this.initFadeOut()
    },
    data() {
        return {
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.enquirytextview-root {
    font-size: 16px;
}
.enquirytextview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 pixel-to-em(130);
}
.enquirytextview-heading-container {
    margin-bottom: pixel-to-em(18);
}
.enquirytextview-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(36);
    color: $color-text-dark;
}
.enquirytextview-paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: pixel-to-em(16);
    line-height: pixel-to-em(24);
    letter-spacing: 0.04em;
    color: $color-text-dark;
    margin: 0;
}
@media screen and (max-width: 1440px) {
    .enquirytextview-container {
        width: 100%;
        padding: 0 pixel-to-vw(130, 1440);
    }
}
@media screen and (max-width: 768px) {
    .enquirytextview-container {
        padding: 0 pixel-to-em(50);
    }
    .enquirytextview-heading-container {
        display: flex;
        justify-content: center;
    }
    .enquirytextview-paragraph {
        text-align: center;
    }
}
@media screen and (max-width: 672px) {
    .enquirytextview-container {
        padding: 0 pixel-to-em(16);
    }
}
@media screen and (max-width: 502px) {
    .enquirytextview-root {
        font-size: pixel-to-vw(16, 502);
    }
}
</style>