<template>
    <section class="enquiryview-root">
        <div 
        class="enquiryview-container"
        :style="`background: ${backgroundColor}`">
            <Pic  
            classes="enquiryview-img"
            :img="backgroundImage"/>
            <div class="enquiryview-content">
                <img 
                class="enquiryview-form-background" 
                :src="backgroundTexture"
                alt="background texture"/>
                <div class="enquiryview-form-container">
                    <div class="enquiryview-form-heading-container">
                        <span class="enquiryview-form-heading">
                            {{formHeading}}
                        </span>
                    </div>

                    <form 
                    class="enquiryview-form"
                    ref="enquiryview-form" 
                    @submit="handleSubmitClick">
                        <Input 
                        class="enquiryview-input enquiryview-input-name"
                        :id="inputList[indexMap['name'].index].id"
                        :label="inputList[indexMap['name'].index].label"
                        :name="inputList[indexMap['name'].index].name"
                        :type="inputList[indexMap['name'].index].type"
                        :value="inputList[indexMap['name'].index].value"
                        :textareaRows="inputList[indexMap['name'].index].textareaRows"
                        :dropdownPlaceholder="inputList[indexMap['name'].index].dropdownPlaceholder"
                        :dropdownOptions="inputList[indexMap['name'].index].dropdownOptions"
                        :autocomplete="inputList[indexMap['name'].index].autocomplete"
                        :disable="inputList[indexMap['name'].index].disable"
                        :error="inputList[indexMap['name'].index].error"
                        :submit="submit"
                        @submit="handleSubmit"/>

                        <Input 
                        class="enquiryview-input enquiryview-input-mobile"
                        :id="inputList[indexMap['mobile'].index].id"
                        :label="inputList[indexMap['mobile'].index].label"
                        :name="inputList[indexMap['mobile'].index].name"
                        :type="inputList[indexMap['mobile'].index].type"
                        :value="inputList[indexMap['mobile'].index].value"
                        :textareaRows="inputList[indexMap['mobile'].index].textareaRows"
                        :dropdownPlaceholder="inputList[indexMap['mobile'].index].dropdownPlaceholder"
                        :dropdownOptions="inputList[indexMap['mobile'].index].dropdownOptions"
                        :autocomplete="inputList[indexMap['mobile'].index].autocomplete"
                        :disable="inputList[indexMap['mobile'].index].disable"
                        :error="inputList[indexMap['mobile'].index].error"
                        :submit="submit"
                        @submit="handleSubmit"/>

                        <Input 
                        class="enquiryview-input enquiryview-input-email"
                        :id="inputList[indexMap['email'].index].id"
                        :label="inputList[indexMap['email'].index].label"
                        :name="inputList[indexMap['email'].index].name"
                        :type="inputList[indexMap['email'].index].type"
                        :value="inputList[indexMap['email'].index].value"
                        :textareaRows="inputList[indexMap['email'].index].textareaRows"
                        :dropdownPlaceholder="inputList[indexMap['email'].index].dropdownPlaceholder"
                        :dropdownOptions="inputList[indexMap['email'].index].dropdownOptions"
                        :autocomplete="inputList[indexMap['email'].index].autocomplete"
                        :disable="inputList[indexMap['email'].index].disable"
                        :error="inputList[indexMap['email'].index].error"
                        :submit="submit"
                        @submit="handleSubmit"/>

                        <Input 
                        class="enquiryview-input enquiryview-input-subject"
                        :id="inputList[indexMap['subject'].index].id"
                        :label="inputList[indexMap['subject'].index].label"
                        :name="inputList[indexMap['subject'].index].name"
                        :type="inputList[indexMap['subject'].index].type"
                        :value="inputList[indexMap['subject'].index].value"
                        :textareaRows="inputList[indexMap['subject'].index].textareaRows"
                        :dropdownPlaceholder="inputList[indexMap['subject'].index].dropdownPlaceholder"
                        :dropdownOptions="inputList[indexMap['subject'].index].dropdownOptions"
                        :autocomplete="inputList[indexMap['subject'].index].autocomplete"
                        :disable="inputList[indexMap['subject'].index].disable"
                        :error="inputList[indexMap['subject'].index].error"
                        :submit="submit"
                        @submit="handleSubmit"/>

                        <Input 
                        class="enquiryview-input enquiryview-input-requirements"
                        :id="inputList[indexMap['requirements'].index].id"
                        :label="inputList[indexMap['requirements'].index].label"
                        :name="inputList[indexMap['requirements'].index].name"
                        :type="inputList[indexMap['requirements'].index].type"
                        :value="inputList[indexMap['requirements'].index].value"
                        :dropdownPlaceholder="inputList[indexMap['requirements'].index].dropdownPlaceholder"
                        :dropdownOptions="inputList[indexMap['requirements'].index].dropdownOptions"
                        :autocomplete="inputList[indexMap['requirements'].index].autocomplete"
                        :disable="inputList[indexMap['requirements'].index].disable"
                        :error="inputList[indexMap['requirements'].index].error"
                        :submit="submit"
                        @submit="handleSubmit"/>

                        <Input 
                        class="enquiryview-input enquiryview-input-address"
                        :id="inputList[indexMap['address'].index].id"
                        :label="inputList[indexMap['address'].index].label"
                        :name="inputList[indexMap['address'].index].name"
                        :type="inputList[indexMap['address'].index].type"
                        :value="inputList[indexMap['address'].index].value"
                        :dropdownPlaceholder="inputList[indexMap['address'].index].dropdownPlaceholder"
                        :dropdownOptions="inputList[indexMap['address'].index].dropdownOptions"
                        :autocomplete="inputList[indexMap['address'].index].autocomplete"
                        :disable="inputList[indexMap['address'].index].disable"
                        :error="inputList[indexMap['address'].index].error"
                        :submit="submit"
                        @submit="handleSubmit"/> 

                        <FormSubmitButton class="enquiryview-formsubmitbutton"/>   
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
/*
******************************************************************
    backgroundImage: OBJECT(
        1: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        2: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        3: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
    )
    formHeading: STRING
    inputList: ARRAY(
        OBJECT(
            id: STRING
            label: STRING
            name: STRING
            type: STRING ['TEXT', 'DROPDOWN', 'TEXTAREA']
            value: STRING
            dropdownPlaceholder: STRING
            dropdownOptions: ARRAY(
                STRING
            )
            autocomplete: STRING ['off', '']
            disable: BOOLEAN
            error: BOOLEAN
        )
    )
******************************************************************
*/
import Input from '../components/Input'
import FormSubmitButton from '../components/FormSubmitButton'
import { Email } from '../js/smtp'
import data from '../model/data'
import Pic from '../components/Pic'

export default {
    name: 'EnquiryView',
    components: { 
        Input, 
        FormSubmitButton,
        Pic,
    },
    props: ['backgroundImage', 'formHeading', 'inputList'],
    methods: {
        handleSubmitClick(event) {
            event.preventDefault()
            this.submit = true
        },
        handleSubmit(id, value) {
           this.indexMap[id].value = value

            const input = this.inputList[this.indexMap[id].index]
            input.error = false
            if(!value || (
                input.type === 'DROPDOWN' 
                && value === input.dropdownPlaceholder
            )) input.error = true
            
            switch(id) {
                case 'email': if(!this.checkEmail(value)) input.error = true; break
                case 'mobile': if(!this.checkPhone(value)) input.error = true; break
            }

            this.submittedCount += 1
            if(this.submittedCount >= this.inputList.length) {
                this.submittedCount = 0
                this.submit = false
                
                let error = this.inputList.find((val) => { return val.error }) ? true : false 
                
                if(!error) {
                    const subject = 'Enquiry ' + parseInt(Math.random() * 1000000)
                    const body = '<html><h3>' + 
                        Object.keys(this.indexMap).map((value) => { 
                            return '<i style="color:#757575">' + value + ':</i> ' + this.indexMap[value].value 
                        }).join('<br>') +
                        '</h3></html>'

                    Email.send({
                        SecureToken: data.smtpToken,
                        To: this.indexMap['email'].value,
                        From: data.fromEmail,
                        Subject: subject,
                        Body: body
                    }).then(message => {
                        if(message === 'OK') this.$store.commit('setNotification', 'Email Sent')
                        else this.$store.commit('setNotification', 'Couldn\'t Send Email')

                        setTimeout(() => this.$store.commit('setNotification', ''), 3000)
                    })
                }
            }
        }
    },
    data() {
        let map = {}
        for(let index in this.inputList) {
            map[this.inputList[index].id] = {
                index: index,
                value: this.inputList[index].value
            }
        }

        return {
            backgroundColor: this.$store.getters.layoutColor,
            indexMap: map,
            backgroundTexture: require('../assets/svg/background_texture.svg'),
            submit: false,
            submittedCount: 0
        }
    }
}
</script>

<style lang="scss">
.enquiryview-root {
    font-size: 16px;
    position: relative;
}
.enquiryview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
    position: relative;
}
.enquiryview-img {
    width: 100%;
    height: pixel-to-em(440);
    object-fit: cover;
}
.enquiryview-content {
    position: relative;
    margin: pixel-to-em(105) pixel-to-em(130) 0 pixel-to-em(130);
}
.enquiryview-form-container {
    position: relative;
    border-radius: pixel-to-em(4);
    border: pixel-to-em(2) solid $color-text-dark-dimmed;
    background: $color-grey-light-light-dimmed;
    box-sizing: border-box;
    padding: 
    pixel-to-em(35) pixel-to-em(73) pixel-to-em(64) pixel-to-em(73);
}
.enquiryview-form-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: rotate(4.79deg) ;
    object-fit: cover;
}
.enquiryview-form-heading-container {
    margin-bottom: pixel-to-em(38);
    display: flex;
    justify-content: center;
}
.enquiryview-form-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(36);
    color: $color-text-dark;
}
.enquiryview-form {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, #{pixel-to-em(83)});
    column-gap: pixel-to-em(24);
    row-gap: pixel-to-em(18);
    grid-template-areas: 
    "input-name input-requirements"
    "input-mobile input-requirements"
    "input-email input-address"
    "input-subject input-address";
}
.enquiryview-input {
    width: 100%;
    height: 100%;
}
.enquiryview-input-name {
    grid-area: input-name;
}
.enquiryview-input-mobile {
    grid-area: input-mobile;
}
.enquiryview-input-email {
    grid-area: input-email;
}
.enquiryview-input-subject {
    grid-area: input-subject;
}
.enquiryview-input-requirements {
    grid-area: input-requirements;
}
.enquiryview-input-address {
    grid-area: input-address;
}
.enquiryview-formsubmitbutton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: pixel-to-em(-200);
}
@media screen and (max-width: 1440px) {
    .enquiryview-container {
        width: 100%;
    }
    .enquiryview-content {
        margin-left: pixel-to-vw(135, 1440);
        margin-right: pixel-to-vw(135, 1440);
    }
    .enquiryview-form-container {
        padding-left: pixel-to-vw(73, 1440);
        padding-right: pixel-to-vw(73, 1440);
    }
}
@media screen and (max-width: 768px) {
    .enquiryview-root {
        font-size: vw-to-pixel(pixel-to-vw(16, 768, false), 768);
    }
    .enquiryview-container {
        width: 100%;
    }
    .enquiryview-content {
        margin: pixel-to-em(65) pixel-to-em(50) 0 pixel-to-em(50);
    }
    .enquiryview-form-container {
        padding: 
        pixel-to-em(35) pixel-to-em(73) pixel-to-em(64) pixel-to-em(73);
    }
    .enquiryview-form {
        grid-template-columns: calc(100% - #{pixel-to-em(17)});
        grid-template-rows: repeat(8, #{pixel-to-em(83)});
        column-gap: unset;
        row-gap: pixel-to-em(18);
        grid-template-areas: 
        "input-name"
        "input-mobile"
        "input-email"
        "input-subject"
        "input-requirements"
        "input-requirements"
        "input-address"
        "input-address";
    }
}
@media screen and (max-width: 620px) {
    .enquiryview-form-container {
        padding-left: pixel-to-em(20);
        padding-right: pixel-to-em(20);
    }
}
@media screen and (max-width: 536px) {
    .enquiryview-root {
        font-size: 
        pixel-to-vw(vw-to-pixel(pixel-to-vw(16, 768, false), 768, false), 536);
    }
}
</style>