<template>
    <footer class="footerview-root">
        <div class="footerview-container">

            <section class="footerview-description">
                <Logo
                class="footerview-logo" 
                :darkBackground="true"/>
                <p class="footerview-text footerview-paragraph">
                    {{description}}
                </p>
                <div>
                    <img 
                    v-for="(value, index) in socialLinks"
                    :key="index"
                    class="footerview-social"
                    :src="value.icon"
                    :alt="`${value} button`"
                    @click="handleLinkClick(value.url)"/>
                </div>
            </section>

            <section class="footerview-about">
                <div class="footerview-text footerview-text-header">
                    About
                </div>
                <div
                v-for="(value, index) in aboutLinks"
                :key="index" 
                class="footerview-text footerview-text-link"
                @click="handleLinkClick(value.url)">
                    {{value.title}}
                </div>
            </section>

            <section class="footerview-contact">
                <div class="footerview-text footerview-text-header">
                    Contact
                </div>
                <div
                v-for="(value, index) in contactLinks"
                :key="index" 
                class="footerview-text footerview-text-link"
                @click="handleLinkClick(value.url)">
                    {{value.title}}
                </div>
            </section>

            <section class="footerview-download">
                <div class="footerview-text footerview-text-header">
                    Download
                </div>
                <div
                v-for="(value, index) in downloadLinks"
                :key="index" 
                class="footerview-text footerview-text-link"
                @click="handleLinkClick(value.url)">
                    {{value.title}}
                </div>
            </section>

            <section class="footerview-joinus">
                <div class="footerview-text footerview-text-header">
                    Join Us
                </div>
                <div
                v-for="(value, index) in joinUsLinks"
                :key="index" 
                class="footerview-text footerview-text-link"
                @click="handleLinkClick(value.url)">
                    {{value.title}}
                </div>
            </section>

            <section class="footerview-newsletter">
                <div class="footerview-text footerview-text-header">
                    Newsletter
                </div>
                <p class="footerview-text footerview-paragraph footerview-paragraph-newsletter">
                    {{newsletter}}
                </p>
                <div class="footerview-email">
                    <label
                    class="footerview-email-input-label" 
                    for="footerview-email-input">
                        Email 
                    </label>
                    <input 
                    class="footerview-email-input" 
                    id="footerview-email-input"
                    name="email"
                    type="text" 
                    placeholder="Enter You Email"/>
                    <button 
                    class="footerview-email-button"
                    aria-label="send email">
                        <img 
                        class="footerview-email-img" 
                        :src="require('../assets/svg/email_arrow.svg')"
                        alt="send icon"/>
                    </button>
                </div>
            </section>

        </div>        
        <div class="footerview-divider"/>
        <section class="footerview-copyright">
            <div class="footerview-copyright-container">
                <div class="footerview-copyright-center">
                    <div class="footerview-copyright-link footerview-copyright-mark">
                        &copy; 2020 KM Group Co
                    </div>
                    <div 
                    class="footerview-copyright-link" 
                    @click="handleLinkClick(copyright.termsLink)">
                        Terms of use
                    </div>
                    <div 
                    class="footerview-copyright-link"
                    @click="handleLinkClick(copyright.privacyLink)">
                        Privacy Policy
                    </div>
                </div>
            </div>
        </section>
    </footer>
</template>

<script>
import Logo from '../components/Logo'

export default {
    name: 'FooterView',
    components: { 
        Logo 
    },
    mounted() {
        this.initFadeOut()
    },
    methods: {
        handleLinkClick(url) {
            if(url) window.open(url)
        }
    },
    data() {
        return {
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor lorem sociis in ipsum leo semper gravida nunc dictum. Habitasse tincidunt ut congue euismod facilisis. Volutpat id lectus sed dui, curabitur ante euismod porta ipsum. Arcu, amet sit odio suscipit suspendisse.',
            socialLinks: [ 
                {
                    url: null,
                    icon: require('../assets/svg/twitter.svg')
                },
                {
                    url: null,
                    icon: require('../assets/svg/facebook.svg')
                },
                {
                    url: null,
                    icon: require('../assets/svg/linkedin.svg')
                },
                {
                    url: null,
                    icon: require('../assets/svg/instagram.svg')
                },
            ],
            aboutLinks: [
                {
                    title: 'News',
                    url: null
                },
                {
                    title: 'Impact',
                    url: null
                },
                {
                    title: 'Our Team',
                    url: null
                },
                {
                    title: 'Our Content',
                    url: null
                },
                {
                    title: 'Our Leadership',
                    url: null
                },
                {
                    title: 'Our Partners',
                    url: null
                },
                {
                    title: 'Internship',
                    url: null
                },
            ],
            contactLinks: [
                {
                    title: 'Help Center',
                    url: null
                },
                {
                    title: 'Support Community',
                    url: null
                },
                {
                    title: 'Share your story',
                    url: null
                },
                {
                    title: 'Press',
                    url: null
                },
            ],
            downloadLinks: [
                {
                    title: 'IOS App',
                    url: null
                },
                {
                    title: 'Android App',
                    url: null
                }
            ],
            joinUsLinks: [
                {
                    title: 'Become a Partner',
                    url: null
                }
            ],
            newsletter: 'Subscribe Our Newsletter to Get More Update and Join Our Venture',
            copyright: {
                termsLink: null,
                privacyLink: null,
            },
        }
    }
}
</script>

<style lang="scss">
.footerview-root {
    font-size: 16px;
    background: $color-primary-dark;
}
.footerview-divider {
    width: 100%;
    height: pixel-to-em(1);
    background: $color-text-light-dimmed;
}
.footerview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    box-sizing: border-box;
    padding: 0 pixel-to-em(50);
    height: pixel-to-em(600);
    grid-template-rows: pixel-to-em(220) pixel-to-em(100);
    padding-top: pixel-to-em(100);
    padding-bottom: pixel-to-em(100);
    column-gap: pixel-to-em(40);
    overflow-x: hidden;
}
.footerview-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: pixel-to-em(14);
    letter-spacing: 0.04em;
    color: $color-text-light-dimmed;
    cursor: context-menu;
}
.footerview-text-header {
    font-weight: bold;
    color: $color-primary;
    white-space: nowrap;
}
.footerview-text-link {
    margin-top: pixel-to-em(16);
    white-space: nowrap;
}
.footerview-text-link:hover {
    color: $color-primary;
} 
.footerview-description {
    grid-column: 1/6;
    grid-row: 1/3;
}
.footerview-paragraph {
    line-height: pixel-to-em(28);
    margin: pixel-to-em(34) 0;
}
.footerview-social {
    width: pixel-to-em(24);
    height: pixel-to-em(24);
    padding: pixel-to-em(5);
    border-radius: pixel-to-em(4);
    background: $color-grey;
    margin-right: pixel-to-em(17);
    cursor: pointer;
}
.footerview-social:hover {
    background: $color-grey-light;
}
.footerview-about {
    grid-column: 6/9;
    grid-row: 1/3;
}
.footerview-contact {
    grid-column: 9/12;
    grid-row: 1/2;
}
.footerview-download {
    grid-column: 9/12;
    grid-row: 2/3;
}
.footerview-joinus {
    grid-column: 12/17;
    grid-row: 1/2;
    margin-left: pixel-to-em(20);
}
.footerview-newsletter {
    grid-column: 12/17;
    grid-row: 2/3;
    margin-left: pixel-to-em(20);
}
.footerview-email {
    display: flex;
}
.footerview-email-input-label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
}
.footerview-email-input {
    width: pixel-to-em(234);
    box-sizing: border-box;
    padding: pixel-to-em(12);
    caret-color: $color-primary;
    background: transparent;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: pixel-to-em(14);
    letter-spacing: 0.04em;
    color: $color-primary;
    border-radius: pixel-to-em(4);
    border: pixel-to-em(2) solid $color-primary;
    outline: none;
}
.footerview-email-input::placeholder {
    color: $color-text-light-dimmed;
}
.footerview-email-input:hover {
    box-shadow: 0 0 pixel-to-em(6) 0 $color-primary;
}
.footerview-email-button {
    margin-left: pixel-to-em(12);
    width: pixel-to-em(50);
    height: pixel-to-em(50);
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-accent;
    border-radius: pixel-to-em(4);
    border: pixel-to-em(2) solid $color-primary;
    outline: none;
}
.footerview-email-button:hover {
    box-shadow: 0 0 pixel-to-em(6) 0 $color-primary;
}
.footerview-email-img {
    width: pixel-to-em(26);
    height: pixel-to-em(26);
}
.footerview-paragraph-newsletter {
    margin-top: pixel-to-em(14);
    white-space: wrap;
}
.footerview-copyright {
    width: pixel-to-em(1440);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: pixel-to-em(20);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 pixel-to-em(50);
}
.footerview-copyright-container {
    grid-column: 1/17;
    padding: pixel-to-em(7);
    display: flex;
    justify-content: center;
}
.footerview-copyright-center {
    width: pixel-to-em(410);
    display: flex;
    justify-content: space-between;
}
.footerview-copyright-link {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(14);
    color: $color-text-light-dimmed;
    cursor: context-menu;
    white-space: nowrap;
}
.footerview-copyright-link:hover {
    color: $color-primary;
}
.footerview-copyright-mark {
    color: $color-primary;
}
@media screen and (max-width: 1440px) {
    .footerview-container {
        width: 100%;
    }
    .footerview-copyright { 
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .footerview-root {
        font-size: pixel-to-vw(16, 1024);
    }
}
@media screen and (max-width: 768px) {
    .footerview-root {
        font-size: vw-to-pixel(pixel-to-vw(16, 1024, false), 768);
    }
    .footerview-container {
        height: pixel-to-em(1080);
        grid-template-rows: 2fr 1fr 0.7fr 0.6fr 1.2fr;
        padding-top: pixel-to-em(27);
        padding-bottom: pixel-to-em(27);
        column-gap: 0;
    }
    .footerview-description {
        grid-column: 1/17;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footerview-about {
        grid-column: 1/8;
        grid-row: 2/4;
    }
    .footerview-contact {
        grid-column: 9/17;
        grid-row: 3/4;
    }
    .footerview-donwload {
        grid-column: 8/17;
        grid-row: 3/4;
    }
    .footerview-joinus {
        grid-column: 1/17;
        grid-row: 4/5;
        margin: 0;
    }
    .footerview-newsletter {
        grid-column: 1/17;
        grid-row: 5/6;
        margin: 0;
    }
}
@media screen and (max-width: 425px) {
    .footerview-copyright-center {
        flex-direction: column;
        align-items: center;
    }
    .footerview-copyright-link {
        padding: pixel-to-em(7) 0;
    }
}
</style>