<template>
    <section class="mainsectiononeview-root">
        <div 
        class="mainsectiononeview-container"
        :style="`background-color: ${backgroundColor}`">
            <div class="mainsectiononeview-img-small-background"/>
            <Pic 
            classes="mainsectiononeview-img-small"
            :img="imgSmall"/>
            <Pic 
            classes="mainsectiononeview-img-large" 
            :img="imgLarge"/>
            <div class="mainsectiononeview-headline">
                {{headline}}
            </div>
            <img 
            class="mainsectiononeview-img-check" 
            :src="imgCheck"
            alt="check image"/>
            <p class="mainsectiononeview-paragraph">
                {{paragraph}}
            </p>
        </div>
    </section>
</template>

<script>
import Pic from '../components/Pic'

export default {
    name: 'MainSectionOneView',
    components: {
        Pic
    },
    mounted() {
        this.initFadeOut()
    },
    data() {
        return {
            headline: 'Acquire Your Dreams with Us',
            paragraph: 'We pride ourselves as people who understand your needs, know to present you to the world, who value and deliver consistent quality We pride ourselves as people who understand your needs, know to present you to the world, who value and deliver consistent quality',
            imgSmall: {
                1: {
                    webp: require('../assets/webp/MainSectionOne_2/@1x.webp'),
                    jpeg: require('../assets/jpeg/MainSectionOne_2/@1x.jpeg'),
                },
                2: {
                    webp: require('../assets/webp/MainSectionOne_2/@2x.webp'),
                    jpeg: require('../assets/jpeg/MainSectionOne_2/@2x.jpeg'),
                },
                3: {
                    webp: require('../assets/webp/MainSectionOne_2/@3x.webp'),
                    jpeg: require('../assets/jpeg/MainSectionOne_2/@3x.jpeg'),
                },
            },
            imgLarge: {
                1: {
                    webp: require('../assets/webp/MainSectionOne_1/@1x.webp'),
                    jpeg: require('../assets/jpeg/MainSectionOne_1/@1x.jpeg'),
                },
                2: {
                    webp: require('../assets/webp/MainSectionOne_1/@2x.webp'),
                    jpeg: require('../assets/jpeg/MainSectionOne_1/@2x.jpeg'),
                },
                3: {
                    webp: require('../assets/webp/MainSectionOne_1/@3x.webp'),
                    jpeg: require('../assets/jpeg/MainSectionOne_1/@3x.jpeg'),
                },
            },
            imgCheck: require('../assets/svg/check_fancy.svg'),
            backgroundColor: this.$store.getters.colors.colorPrimary
        }
    } 
}
</script>

<style lang="scss">
.mainsectiononeview-root {
    font-size: 16px;
}
.mainsectiononeview-container {
    width: pixel-to-em(1440);
    height: pixel-to-em(744);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 pixel-to-em(50);
    background: $color-primary;
    position: relative;
}
.mainsectiononeview-img-small-background {
    height: pixel-to-em(314);
    width: pixel-to-em(314);
    position: absolute;
    bottom: 0;
    right: 0;
    background: $color-grey-img-back;
}
.mainsectiononeview-img-small {
    height: pixel-to-em(314);
    width: pixel-to-em(314);
    position: absolute;
    bottom: pixel-to-em(26);
    right: pixel-to-em(26);
}
.mainsectiononeview-img-large {
    position: absolute;
    top: pixel-to-em(34);
    left: pixel-to-em(79);
    height: pixel-to-em(667);
    width: pixel-to-em(490);
    object-fit: cover;
}
.mainsectiononeview-headline {
    position: absolute;
    top: pixel-to-em(20);
    left: pixel-to-em(156);
    height: pixel-to-em(54);
    width: pixel-to-em(213);
    background: $color-primary;
    border-bottom: pixel-to-em(3.6) solid $color-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: pixel-to-em(22) pixel-to-em(9);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(48);
    line-height: pixel-to-em(19.4);
    text-align: center;
    color: $color-text-dark;
    z-index: 2;
}
.mainsectiononeview-img-check {
    height: pixel-to-em(45);
    width: pixel-to-em(45);
    position: absolute;
    top: pixel-to-em(419);
    left: pixel-to-em(616);
}
.mainsectiononeview-paragraph {
    position: absolute;
    top: pixel-to-em(472);
    left: pixel-to-em(670);
    width: pixel-to-em(308);
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: pixel-to-em(16);
    line-height: pixel-to-em(24);
    color: $color-text-dark;
}
@media screen and (max-width: 1440px) {
    .mainsectiononeview-container {
        width: 100%;
    }
}
@media screen and (max-width: 1350px) {
    .mainsectiononeview-img-small-background {
        display: none;
    }
    .mainsectiononeview-img-small {
        display: none;
    }
}
@media screen and (max-width: 1160px) {
    .mainsectiononeview-root {
        font-size: pixel-to-vw(16, 1160);
    }
}
@media screen and (max-width: 768px) {
    .mainsectiononeview-root {
        font-size: vw-to-pixel(pixel-to-vw(16, 1160, false), 768);
    }
    .mainsectiononeview-container {
        height: pixel-to-em(1200);
        width: 100%;
    }
    .mainsectiononeview-img-large {
        top: pixel-to-em(20);
        left: pixel-to-em(40);
        width: calc(100% - (2 * #{pixel-to-em(40)}));
    }
    .mainsectiononeview-headline {
        left: 50%;
        top: pixel-to-em(200);
        transform: translateX(-50%);
    }
    .mainsectiononeview-img-check {
        top: pixel-to-em(846);
        left: 50%;
        transform: translateX(-600%);
    }
    .mainsectiononeview-paragraph {
        top: pixel-to-em(600);
        left: 50%;
        transform: translateX(-50%);
        width: pixel-to-em(408);
        text-align: center;
        font-size: pixel-to-em(24)
    }
}
@media screen and (max-width: 448px) {
    .mainsectiononeview-root {
        font-size: 
        pixel-to-vw(vw-to-pixel(pixel-to-vw(16, 1160, false), 768, false), 448);
    }
}
</style>