<template>
    <section class="mainsectiontwoview-root">
        <div 
        class="mainsectiontwoview-container"
        :style="`background-color: ${backgroundColor}`">
            <Pic
            classes="mainsectiontwoview-img"
            :img="img"/>
            <p class="mainsectiontwoview-paragraph">
                {{paragraph}}
            </p>
            <div class="mainsectiontwoview-years">
                <div class="mainsectiontwoview-count">
                    {{experienceCount}}
                </div>
                <div class="mainsectiontwoview-divider"/>
                <div class="mainsectiontwoview-vertical">
                    <div class="mainsectiontwoview-text mainsectiontwoview-text-year">
                        {{experienceTextYear}}
                    </div>
                    <div class="mainsectiontwoview-text mainsectiontwoview-text-experience">
                        {{experienceTextExperience}}
                    </div>
                </div>
            </div>
            <div class="mainsectiontwoview-headline">
                {{headline}}
            </div>
        </div>
    </section>
</template>

<script>
import Pic from '../components/Pic'

export default {
    name: 'MainSectionTwoView',
    components: {
        Pic
    },
    mounted() {
        this.initFadeOut()
    },
    data() {
        return {
            headline: 'We Are Experienced',
            img: {
                1: {
                    webp: require('../assets/webp/MainSectionTwo/@1x.webp'),
                    jpeg: require('../assets/jpeg/MainSectionTwo/@1x.jpeg'),
                },
                2: {
                    webp: require('../assets/webp/MainSectionTwo/@2x.webp'),
                    jpeg: require('../assets/jpeg/MainSectionTwo/@2x.jpeg'),
                },
                3: {
                    webp: require('../assets/webp/MainSectionTwo/@3x.webp'),
                    jpeg: require('../assets/jpeg/MainSectionTwo/@3x.jpeg'),
                },
            },
            experienceCount: '20+',
            experienceTextYear: 'Years',
            experienceTextExperience: 'of Experience',
            paragraph: 'F & F has marked dominance for itself in the industry, by serving the demands of diverse global customers. Based in Dubai, the company is reckoned as an eminent Exporter, Importer, and Supplier of a wide range of Products, , in UAE. The products, that we offer, have been proved to be cost effective and efficient in performance, and thus are highly demanded by the worldwide clients.',
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.mainsectiontwoview-root {
    font-size: 16px;
}
.mainsectiontwoview-container {
    height: pixel-to-em(664);
    width: pixel-to-em(1440);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 pixel-to-em(50);
    position: relative;
}
.mainsectiontwoview-img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: pixel-to-em(748);
    object-fit: cover;
}
.mainsectiontwoview-paragraph {
    position: absolute;
    left: pixel-to-em(50);
    top: pixel-to-em(248);
    width: pixel-to-em(555);
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: pixel-to-em(16);
    line-height: pixel-to-em(24);
    letter-spacing: 0.04em;
    color: $color-text-dark;
}
.mainsectiontwoview-years {
    position: absolute;
    bottom: pixel-to-em(66);
    left: pixel-to-em(115);
    width: pixel-to-em(463);
    height: pixel-to-em(143);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainsectiontwoview-count {
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: pixel-to-em(119);
    color: $color-accent;
}
.mainsectiontwoview-divider {
    height: 100%;
    width: pixel-to-em(3);
    background: $color-text-dark;
}
.mainsectiontwoview-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainsectiontwoview-text {
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    color: $color-text-dark;
}
.mainsectiontwoview-text-year {
    font-size: pixel-to-em(48);
}
.mainsectiontwoview-text-experience {
    font-size: pixel-to-em(36);
}
.mainsectiontwoview-headline {
    position: absolute;
    top: pixel-to-em(9);
    right: pixel-to-em(186);
    height: pixel-to-em(54);
    width: pixel-to-em(213);
    background: $color-primary;
    border-bottom: pixel-to-em(3.6) solid $color-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: pixel-to-em(22) pixel-to-em(9);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(48);
    line-height: pixel-to-em(19.4);
    text-align: center;
    color: $color-text-dark;
}
@media screen and (max-width: 1440px) {
    .mainsectiontwoview-container {
        width: 100%;
    }
    .mainsectiontwoview-img {
        width: pixel-to-vw(748, 1440);
    }
    .mainsectiontwoview-paragraph {
        width: pixel-to-vw(555, 1440);
    }
    .mainsectiontwoview-years {
        width: pixel-to-vw(463, 1440);
        height: pixel-to-vw(143, 1440);
        right: unset;
        left: pixel-to-em(115);
    }
    .mainsectiontwoview-count {
        font-size: pixel-to-vw(119, 1440);
    }
    .mainsectiontwoview-text-year {
        font-size: pixel-to-vw(48, 1440);
    }
    .mainsectiontwoview-text-experience {
        font-size: pixel-to-vw(36, 1440);
    }
    .mainsectiontwoview-divider {
        width: pixel-to-vw(3, 1440);
    }
}
@media screen and (max-width: 1240px) {
    .mainsectiontwoview-root {
        font-size: pixel-to-vw(16, 1240);
    }
}
@media screen and (max-width: 768px) {
    .mainsectiontwoview-root {
        font-size: vw-to-pixel(pixel-to-vw(16, 1240, false), 768);
    }
    .mainsectiontwoview-container {
        height: pixel-to-em(1360);
    }
    .mainsectiontwoview-img {
        left: pixel-to-em(40);
        width: calc(100% - (2 * #{pixel-to-em(40)}));
        height: pixel-to-em(672);
    }
    .mainsectiontwoview-headline {
        display: none;
    }
    .mainsectiontwoview-paragraph {
        top: pixel-to-em(550);
        left: 50%;
        transform: translateX(-50%);
        font-size: pixel-to-em(28);
        width: pixel-to-em(400);
        text-align: center;
    }
    .mainsectiontwoview-years {
        top: pixel-to-em(760);
        left: 50%;
        transform: translateX(-50%);
        width: pixel-to-em(690);
        height: pixel-to-em(156);
    }
    .mainsectiontwoview-count {
        font-size: pixel-to-em(160);
    }
    .mainsectiontwoview-text-year {
        font-size: pixel-to-em(66);
    }
    .mainsectiontwoview-text-experience {
        font-size: pixel-to-em(56);
    }
}
@media screen and (max-width: 502px) {
    .mainsectiontwoview-root {
        font-size: 
        pixel-to-vw(vw-to-pixel(pixel-to-vw(16, 1240, false), 768, false), 502);
    }
}
</style>