<template>
    <section class="maincarouselview-root">
        <div 
        class="maincarouselview-container"
        :style="`background-color: ${backgroundColor}`">

            <div class="maincarouselview-heading">
                {{heading}}
            </div>

            <div class="maincarouselview-link-splide-container">
                <splide
                class="maincarouselview-link-splide"
                :key="linkSplideUpdate"
                :options="linkOptions"
                :slides="links"
                @splide:pagination:mounted="initLinkSlider"
                @splide:move="handleLinkMove">
                    <splide-slide 
                    v-for="(value, key) in links"
                    :key="key">
                        <div 
                        class="maincarouselview-link-container"
                        @click="handleLinkClick(key)">
                            <span 
                            class="maincarouselview-link"
                            :class="(key === selectedLinkIndex) ? 'maincarouselview-link-selected' : ''">
                                {{value.title}}
                            </span>
                        </div>
                    </splide-slide>

                    <template v-slot:controls>
                        <div class="splide__arrows">
                            <button class="splide__arrow splide__arrow--prev maincarouselview-link-button">
                                <img 
                                class="maincarouselview-link-button-img" 
                                :src="leftLinkButtonImg"
                                alt="slide left button"/>
                            </button>
                            <button class="splide__arrow splide__arrow--next maincarouselview-link-button">
                                <img 
                                class="maincarouselview-link-button-img" 
                                :src="rightLinkButtonImg"
                                alt="slide right button"/>
                            </button>
                        </div>
                    </template>
                </splide>
            </div>
            
            <splide 
            v-if="links[selectedLinkIndex].cards.length > 0"
            :key="cardSplideUpdate"
            :options="cardOptions"
            :slides="links[selectedLinkIndex].cards"
            @splide:pagination:mounted="initCardCarousel"
            @splide:pagination:updated="handleCardPagination"
            @splide:move="handleCardMove">
                <splide-slide 
                v-for="(value, key) in links[selectedLinkIndex].cards" 
                :key="key">
                    <MainCarouselCard
                    :img="value.img"
                    :name="value.name"
                    :description="value.description"/>                       
                </splide-slide>

                <template v-slot:controls>
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev maincarouselview-card-button">
                            <img 
                            class="maincarouselview-card-button-img" 
                            :src="leftCardButtonImg"
                            alt="slide left button"/>
                        </button>
                        <button class="splide__arrow splide__arrow--next maincarouselview-card-button">
                            <img 
                            class="maincarouselview-card-button-img" 
                            :src="rightCardButtonImg"
                            alt="slide right button"/>
                        </button>
                    </div>
                </template>
            </splide>
            <div 
            v-else
            class="maincarouselview-card-placeholder">
                {{emptyCardPlaceholder}}
            </div>

        </div>
    </section>
</template>

<script>
/*
*************************************************
    links: ARRAY(
        OBJECT(
            title: STRING
            cards: ARRAY(
                OBJECT(
                    img: OBJECT(
                        1: OBJECT(
                            webp: IMAGE
                            jpeg: IMAGE
                        )
                        2: OBJECT(
                            webp: IMAGE
                            jpeg: IMAGE
                        )
                        3: OBJECT(
                            webp: IMAGE
                            jpeg: IMAGE
                        )
                    )
                    name: STRING
                    description: ARRAY(
                        OBJECT(
                            word: STRING
                            color: STRING
                        )
                    )
                )
            )
        )
    )
    heading: STRING
*************************************************
*/
import MainCarouselCard from '../components/MainCarouselCard'
import { Splide, SplideSlide } from '@splidejs/vue-splide'
import '@splidejs/splide/dist/css/splide.min.css'

export default {
    name: 'MainCarouselView',
    components: {
        Splide, 
        SplideSlide,
        MainCarouselCard, 
    },
    props: ['links', 'heading'],
    mounted() {
        this.initFadeOut()
    },
    beforeDestroy() {
        window.removeEventListener('resize', this.handleCardCountPerPage)
        window.removeEventListener('resize', this.handleLinkCountPerPage)
    },
    methods: {
        initCardCarousel(splide) {
            this.cardSplide = splide

            this.initCardPagination()
            this.initCardArrow()
            this.handleCardMove(splide, 0)

            if(this.cardSplideUpdate) {
                const root = this.cardSplide.root
                const track = root.children[0]
                const list = track.children[0]
    
                if(this.cardOptions.perPage >= Object.keys(list.children).length) {
                    root.children[1].style.display = 'none'   
                    root.children[2].style.display = 'none'   
                } else {
                    root.children[1].style.display = 'block'   
                    root.children[2].style.display = 'block'
                }
            }
            this.handleCardCountPerPage()
            window.addEventListener('resize', this.handleCardCountPerPage)
        },
        initCardArrow() {
            const MARGIN = 20

            const pagination = this.cardSplide.Components.Pagination.data.list
            const paginationRect = pagination.getBoundingClientRect()
            const paginationWidth = paginationRect.width                 
            
            const arrowPrev = this.cardSplide.Components.Arrows.arrows.prev
            const arrowNext = this.cardSplide.Components.Arrows.arrows.next

            arrowPrev.style.transform = `translateX(calc(-50% - ${paginationWidth + MARGIN}px))`
            arrowNext.style.transform = `translateX(calc(-50% + ${paginationWidth + MARGIN}px))`
        },
        initCardPagination() {
            const pagination = this.cardSplide.Components.Pagination.data
            pagination.list.classList.add('maincarouselview-card-pagination')
            pagination.items.forEach(item => {
                item.button.classList.add('maincarouselview-card-page')
            })
        },
        handleCardCountPerPage() {
            const root = this.cardSplide.root
            const track = root.children[0]
            const trackStyle = window.getComputedStyle(track)
            const trackWidth = Number(trackStyle.width.replace('px', ''))

            const list = track.children[0]
            const oneItem = list.children[0]
            const oneItemStyle = window.getComputedStyle(oneItem)
            const oneItemWidth = Number(oneItemStyle.width.replace('px', '')) 
            const oneItemMarginRight = Number(oneItemStyle.marginRight.replace('px', ''))

            let count = 0
            let width = 0
            while(count < Object.keys(list.children).length) {
                width += oneItemWidth + oneItemMarginRight
                if(width > trackWidth) break 
                count++
            }                   

            if(this.cardOptions.perPage !== count) {
                this.cardOptions.perPage = count
                this.cardSplideUpdate = !this.cardSplideUpdate
            }
        },
        handleCardPagination(_, data) {
            data.items.forEach(item => {
                const button = item.button
                const classList = button.classList

                if(classList.contains('is-active')) {
                    button.style.backgroundColor = this.$store.getters.colors.colorAccent
                } else {
                    button.style.backgroundColor = this.$store.getters.colors.colorAccentLight
                }
            })
        },
        handleCardMove(_, newIndex) {
            const count = this.cardSplide.root.children[2].children.length
            if(newIndex === 0) {
                this.leftCardButtonImg = require('../assets/svg/left_arrow_grey.svg')
            } else { 
                this.leftCardButtonImg  = require('../assets/svg/left_arrow_black.svg')
            }
            if(Math.ceil(newIndex / this.cardOptions.perPage) === count - 1) {
                this.rightCardButtonImg = require('../assets/svg/right_arrow_grey.svg')
            } else {
                this.rightCardButtonImg = require('../assets/svg/right_arrow_black.svg')
            }
        },

        initLinkSlider(splide) {
            this.linkSplide = splide

            this.initLinkPagination()
            this.initLinkArrow()
            this.handleLinkMove(splide, 0)

            this.handleLinkCountPerPage()
            window.addEventListener('resize', this.handleLinkCountPerPage)
        },
        initLinkPagination() {
            this.linkSplide.root.children[2].style.display = 'none'
        },
        initLinkArrow() {
            const root = this.linkSplide.root 
            const track = root.children[0]
            track.style.boxSizing = 'border-box'

            const arrowPrev = this.linkSplide.Components.Arrows.arrows.prev
            const arrowNext = this.linkSplide.Components.Arrows.arrows.next

            arrowPrev.style.right = 'unset'
            arrowPrev.style.left = '0'

            arrowNext.style.left = 'unset'
            arrowNext.style.right = '0'
        },
        handleLinkCountPerPage() {
            const root = this.linkSplide.root
            const track = root.children[0]
            const trackStyle = window.getComputedStyle(track)
            const trackWidth = Number(trackStyle.width.replace('px', ''))
            const trackPaddingLeft = Number(trackStyle.paddingLeft.replace('px', ''))
            const trackPaddingRight = Number(trackStyle.paddingLeft.replace('px', ''))

            const list = track.children[0]
            const oneItem = list.children[0]
            const oneItemStyle = window.getComputedStyle(oneItem)
            const oneItemWidth = Number(oneItemStyle.width.replace('px', '')) 

            let count = 0
            let width = trackPaddingLeft + trackPaddingRight
            while(count < Object.keys(list.children).length) {
                width += oneItemWidth
                if(width > trackWidth) break 
                count++
            }                   

            if(this.linkOptions.perPage !== count) {
                this.linkOptions.perPage = count
                this.linkSplideUpdate = !this.linkSplideUpdate
            }
        },
        handleLinkMove(_, newIndex) {
            const count = this.linkSplide.root.children[2].children.length
            if(newIndex === 0) {
                this.leftLinkButtonImg = require('../assets/svg/left_arrow_grey.svg')
            } else { 
                this.leftLinkButtonImg  = require('../assets/svg/left_arrow_black.svg')
            }
            if(Math.ceil(newIndex / this.linkOptions.perPage) === count - 1) {
                this.rightLinkButtonImg = require('../assets/svg/right_arrow_grey.svg')
            } else {
                this.rightLinkButtonImg = require('../assets/svg/right_arrow_black.svg')
            }
        },
        handleLinkClick(key) {
            this.selectedLinkIndex = key
            this.cardSplideUpdate = !this.cardSplideUpdate
        },
    },
    data() {        
        return {
            linkSplide: undefined,
            linkSplideUpdate: false,
            linkOptions: {
                height: `${this.pixelToEm(42)}`,
                fixedWidth: `${this.pixelToEm(140)}`,
                padding: {
                    left: `${this.pixelToEm(60)}`,
                    right: `${this.pixelToEm(60)}`
                },
                keyboard: false,
                slideFocus: false,
                perPage: 0
            },

            cardSplide: undefined,
            cardSplideUpdate: false,
            cardOptions: {
                height: `${this.pixelToEm(400)}`,
                padding: {
                    left: `${this.pixelToEm(150)}`,
                    right: `${this.pixelToEm(150)}`
                },
                autoWidth: true,
                gap: `${this.pixelToEm(40)}`,
                keyboard: false,
                slideFocus: false,
                perPage: 0,
                breakpoints: {
                    1024: {
                        padding: {
                            left: `${this.pixelToEm(50)}`,
                            right: `${this.pixelToEm(50)}`
                        },
                    },
                    520: {
                        padding: {
                            left: `${this.pixelToEm(24)}`,
                            right: `${this.pixelToEm(24)}`
                        },
                    }
                },
            },

            selectedLinkIndex: 0,

            leftCardButtonImg: require('../assets/svg/left_arrow_grey.svg'),
            rightCardButtonImg: require('../assets/svg/right_arrow_black.svg'), 
            leftLinkButtonImg: require('../assets/svg/left_arrow_grey.svg'),
            rightLinkButtonImg: require('../assets/svg/right_arrow_black.svg'), 

            emptyCardPlaceholder: 'No Product Available',
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.maincarouselview-root {
    font-size: 16px;
    overflow: hidden;
}
.maincarouselview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
}
.maincarouselview-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(48);
    text-align: center;
    margin-bottom: pixel-to-em(10);
    color: $color-text-dark;
    margin-left: pixel-to-em(18);
    margin-right: pixel-to-em(18);
}
.maincarouselview-link-splide-container {
    display: flex;
    justify-content: center;
}
.maincarouselview-link-splide {
    margin-bottom: pixel-to-em(43); 
}
.maincarouselview-link-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.maincarouselview-link-container:hover .maincarouselview-link {
    color: $color-accent;
}
.maincarouselview-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(18);
    letter-spacing: -0.02em;
    cursor: context-menu;
    color: $color-text-dark;
}
.maincarouselview-link-selected {
    color: $color-accent;
}
.maincarouselview-link-button {
    height: pixel-to-em(42);
    width: pixel-to-em(42);
    background: $color-primary;
    border-radius: 50%;
    box-shadow:    
    0 pixel-to-em(-2) pixel-to-em(2) 0 rgba(146, 145, 145, 0.33), 
    0 pixel-to-em(2) pixel-to-em(2) 0 rgba(187, 187, 187, 0.4),
    0 0 pixel-to-em(10) pixel-to-em(20)  $color-background;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1.0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
.maincarouselview-link-button:hover {
    opacity: 1.0;
}
.maincarouselview-link-button:focus {
    opacity: 1.0;
}
.maincarouselview-link-button-img {
    width: pixel-to-em(14);
    height: pixel-to-em(14);
    object-fit: contain;
}
.maincarouselview-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}
.maincarouselview-card-button {
    height: pixel-to-em(42);
    width: pixel-to-em(42);
    background: $color-primary;
    border-radius: 50%;
    box-shadow: 
    0 pixel-to-em(-2) pixel-to-em(2) rgba(146, 145, 145, 0.33), 
    0 pixel-to-em(2) pixel-to-em(2) rgba(187, 187, 187, 0.4);
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1.0;
    top: unset;
    bottom: pixel-to-em(10);
    left: 50%;
    transform: translateX(-50%);
}
.maincarouselview-card-button:hover {
    opacity: 1.0;
}
.maincarouselview-card-button:focus {
    opacity: 1.0;
}
.maincarouselview-card-button-img {
    width: pixel-to-em(14);
    height: pixel-to-em(14);
    object-fit: contain;
}
.maincarouselview-card-pagination {
    display: block;
    width: auto;
    bottom: pixel-to-em(20);
}
.maincarouselview-card-page {
    height: pixel-to-em(12);
    width: pixel-to-em(12);
    display: inline-block;
	border-radius: 50%;
	margin: pixel-to-em(5);
	padding: 0;
	transition: transform .2s linear;
	border: none;
    opacity: 1.0;
}
.maincarouselview-card-page:hover {
    opacity: 1.0;
}
.maincarouselview-card-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(42);
    color: $color-grey-dimmed;
    height: pixel-to-em(152.5);
}
@media screen and (max-width: 1440px) {
    .maincarouselview-root {
        font-size: pixel-to-vw(16, 1440);
    }
}
@media screen and (max-width: 1024px) {
    .maincarouselview-root {
        font-size: vw-to-pixel(pixel-to-vw(16, 1440, false), 1024);
    }
    .maincarouselview-container {
        width: 100%;
    }
}
@media screen and (max-width: 950px) { 
    .maincarouselview-link-splide-container {
        display: block;
        padding-left: pixel-to-em(50);
        padding-right: pixel-to-em(50);
    }
    .maincarouselview-link-button {
        display: flex;
    }
}
@media screen and (max-width: 520px) { 
    .maincarouselview-link-splide-container {
        display: block;
        padding-left: pixel-to-em(24);
        padding-right: pixel-to-em(24);
    }
}
</style>