<template>
    <nav class="navbarview-root">
        <Hamburger 
        class="navbarview-hamburger" 
        :style="`position: ${position}`"
        :close="hamburgerClose"
        @click="handleHamburgerClick"/>
        
        <div 
        class="navbarview-container"
        :style="`filter: blur(${blurAmount})`">
            <Logo 
            class="navbarview-logo"
            @click="handleRoute({ name: 'Main' })"/>
            <ul class="navbarview-list-first">
                <li 
                v-for="(valueFirst, keyFirst) in navList"
                :key="keyFirst"
                class="navbarview-list-item">
                    <div 
                    class="navbarview-link navbarview-link-first navbarview-general"
                    :style="`cursor: ${((valueFirst.route) ? 'pointer' : 'context-menu')}`"
                    @click="handleRoute(valueFirst.route)">
                        {{valueFirst.title}}
                    </div>

                    <ul 
                    v-if="valueFirst.children.length > 0"
                    class="navbarview-list-second">
                        <li 
                        v-for="(valueSecond, keySecond) in valueFirst.children"
                        :key="keySecond"
                        class="navbarview-list-item">
                            <div 
                            v-if="keySecond > 0" 
                            class="navbarview-dropdown-divider"/>
                            <div 
                            class="navbarview-link navbarview-link-second navbarview-general"
                            :style="`cursor: ${((valueSecond.route) ? 'pointer' : 'context-menu')}`"
                            @click="handleRoute(valueSecond.route)">
                                {{valueSecond.title}}
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="navbarview-list-item">
                    <div 
                    class="navbarview-link navbarview-joinus"
                    @click="handleRoute(navException.route)">
                        {{navException.title}}
                    </div>
                </li>
            </ul>
        </div>

        <NavSidebarView 
        v-if="this.hamburgerClose"
        class="navbarview-sidebar" 
        :navList="navList"
        :navException="navException"/>
    </nav>
</template>

<script>
/*
***********************************
    navList: ARRAY(
        OBJECT(
            title: STRING
            children: navList
            route: ROUTE
        )
    )
    navException: OBJECT(
        title: STRING,
        route: ROUTE
    )
**********************************
*/
import Logo from '../components/Logo'
import Hamburger from '../components/Hamburger'

export default {
    name: 'NavbarView',
    components: { 
        Logo, 
        NavSidebarView: () => import('./NavSidebarView'), 
        Hamburger 
    },
    props: ['navList', 'navException', 'blurAmount'],
    watch: {
        hamburgerClose(newVal, oldVal) {
            if(newVal !== oldVal) {
                this.$store.commit('setNavSidebarOpen', newVal)
                if(newVal) {
                    this.position = 'fixed'
                    document.body.style.overflow = 'hidden'
                } else {
                    this.position = 'absolute'
                    document.body.style.overflow = 'auto'
                }
            }
        },
    },
    mounted() {        
        this.$store.subscribe((mutation) => {
            if(mutation.type === 'setNavSidebarOpen') {
                if(this.hamburgerClose !== mutation.payload) {
                    this.hamburgerClose = mutation.payload
                }
            }
        }), 

        window.addEventListener('scroll', () => {
            const root = this.$el
            const height = Number(window.getComputedStyle(root).height.replace('px', ''))

            let top = this.navPrevTop - window.scrollY + this.windowPrevY
            top = Math.min(0, Math.max(top, -height))

            root.style.top = `${top}px`

            this.windowPrevY = window.scrollY
            this.navPrevTop = top
        })

        window.addEventListener('resize', () => {
            this.$el.style.top = `0`
            this.hamburgerClose = false
        })

        this.$emit('mounted')
    },
    methods: {
        handleHamburgerClick() {
            this.hamburgerClose = !this.hamburgerClose
        },
    },
    data() {
        return {
            navPrevTop: 0,
            windowPrevY: 0,
            hamburgerClose: false,
            position: 'absolute',
        }
    }
}
</script>

<style lang="scss">
.navbarview-root {
    font-size: 16px;
    background: $color-primary;    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    box-shadow: 
    0 pixel-to-em(1) pixel-to-em(6) rgba(0, 0, 0, 0.15);
}
.navbarview-container {
    width: pixel-to-em(1440);
    height: pixel-to-em(70);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 pixel-to-em(50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navbarview-hamburger {
    width: pixel-to-em(32);
    height: pixel-to-em(32);
    display: none;
}
.navbarview-logo {
    cursor: pointer;
}
.navbarview-list-first {
   display: flex;
   position: relative;
}
.navbarview-list-item {
    list-style: none;
    position: relative;
}
.navbarview-link {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(18);
    padding: 0 pixel-to-em(5);    
    white-space: nowrap;
}
.navbarview-link-first {
    margin-left: pixel-to-em(32);
}
.navbarview-link::after {
    content: '';
    position: absolute;
    height: pixel-to-em(2);
    z-index: 2;
    background: $color-accent;
    left: 0;
    right: 0;
    bottom: pixel-to-em(-4);
    transform: scaleX(0.0);
    transition: transform 0.1s ease-in-out;
}
.navbarview-link:hover::after {
    transform: scaleX(1.0);
}
.navbarview-link-first:hover + .navbarview-list-second {
    display: block;
}
.navbarview-joinus {
    color: $color-accent;
    margin-left: pixel-to-em(32);
}
.navbarview-general {
    color: $color-text-dark;
}
.navbarview-list-second {
    position: absolute;
    left: 0;
    padding: pixel-to-em(32);
    width: pixel-to-em(224);
    background: $color-primary;
    display: none;
}
.navbarview-list-second::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: pixel-to-em(26);
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 
    0 pixel-to-em(1) pixel-to-em(6) rgba(0, 0, 0, 0.15);
}
.navbarview-list-second:hover {
    display: block;
}
.navbarview-dropdown-divider {
    height: pixel-to-em(1);
    background: $color-disabled;
}
.navbarview-link-second {
    display: inline-block;
    margin-top: pixel-to-em(12);
    margin-bottom: pixel-to-em(12);
}
.navbarview-sidebar {
    display: none;
}
@media screen and (max-width: 1440px) {
    .navbarview-container {
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .navbarview-root {
        font-size: pixel-to-vw(16, 1024);
    }
}
@media screen and (max-width: 768px) {
    .navbarview-root {
        font-size: vw-to-pixel(pixel-to-vw(16, 1024, false), 768);
    }
    .navbarview-container {
        justify-content: center;
    }
    .navbarview-hamburger {
        display: flex;
        left: pixel-to-em(50);
        top: pixel-to-em(20);
        z-index: 10;
    }
    .navbarview-list-first {
        display: none;
    }
    .navbarview-sidebar {
        display: block;
    }
}
@media screen and (max-width: 425px) {
    .navbarview-root {
        font-size: 
        pixel-to-vw(vw-to-pixel(pixel-to-vw(16, 1024, false), 768, false), 425)
    }    
    .navbarview-container {
        padding: 0;
    }
}   
</style>