<template>
    <transition name="navsidebarview" appear>
        <sidebar class="navsidebarview-container">
            <ul class="navsidebarview-list-first">
                <div 
                v-if="backButton"
                class="navsidebarview-link navsidebarview-back-container"
                @click="$emit('back')">
                    <img 
                    class="navsidebarview-back-button"
                    :src="require('../assets/svg/back_button.svg')"
                    alt="back button"/>
                    <span class="navsidebarview-back-text"> Back </span>
                </div>

                <li 
                v-for="(valueFirst, keyFirst) in navList"
                :key="keyFirst"
                class="navsidebarview-list-item">
                    <div v-if="keyFirst > 0" class="navsidebarview-divider"/>
                    <div 
                    class="navsidebarview-link"
                    @click="handleSubMenu(valueFirst)">
                        {{valueFirst.title}}
                        <img 
                        class="navsidebarview-right-pointer"
                        v-if="valueFirst.children.length > 0"
                        :src="require('../assets/svg/point_right.svg')"
                        alt="next button"/>
                    </div>
                </li>
                <li 
                v-if="navException"
                class="navsidebarview-list-item"
                @click="handleRoute(navException.route)">
                    <div class="navsidebarview-divider"/>
                    <div class="navsidebarview-link navsidebarview-link-exception">
                        {{navException.title}}
                    </div>
                </li>
            </ul>

            <NavSidebarView 
            v-if="subMenuShow"
            :navList="subMenuNavList"
            :backButton="true"
            @back="handleMenuBack"/>
        </sidebar>
    </transition>
</template>

<script>
/*
***********************************
    navList: ARRAY(
        OBJECT(
            title: STRING,
            children: navList
            route: Route
        )
    )
    navException: OBJECT(
        title: STRING
    )
    backButton: BOOLEAN
**********************************
*/
export default {
    name: 'NavSidebarView',
    props: ['navList', 'navException', 'backButton'],
    methods: {
        handleSubMenu(value) {
            if(value.children.length > 0) {
                this.subMenuNavList = value.children
                this.subMenuShow = true
            } else {
                this.handleRoute(value.route)
                this.$store.commit('setNavSidebarOpen', false)
            }
        },
        handleMenuBack() {
            this.subMenuShow = false
            this.subMenuNavList = []
        },
    },
    data() {
        return {
            subMenuShow: false,
            subMenuNavList: []
        }
    }
}
</script>

<style lang="scss">
.navsidebarview-enter-active, .navsidebarview-leave-active {
    transition: transform 0.2s ease-out;
}
.navsidebarview-enter, .navsidebarview-leave-to {
    transform: translateX(-100%);
}
.navsidebarview-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: pixel-to-em(360);
    background: $color-primary;
    box-sizing: border-box;
    padding-top: pixel-to-em(70); 
    box-shadow: 
    pixel-to-em(1) 0 pixel-to-em(6) rgba(0, 0, 0, 0.15); 
}
.navsidebarview-list-first {
    box-sizing: border-box;
    padding: 0 pixel-to-em(32);
}
.navsidebarview-list-item {
    list-style: none;
}
.navsidebarview-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(18);
    cursor: pointer;
    white-space: nowrap;
    padding: pixel-to-em(32) pixel-to-em(10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text-dark;
}
.navsidebarview-link-exception {
    color: $color-accent;
}
.navsidebarview-link:hover {
    color: $color-accent;
}
.navsidebarview-divider {
    height: pixel-to-em(1);
    background: $color-disabled;
}
.navsidebarview-back-container {
    justify-content: flex-start;
}
.navsidebarview-right-pointer {
    height: pixel-to-em(24);
    width: pixel-to-em(24);
}
.navsidebarview-back-button {
    height: pixel-to-em(24);
    width: pixel-to-em(24);
}
.navsidebarview-back-text {
    color: $color-text-unfocused;
    margin-top: pixel-to-em(2);
}
.navsidebarview-back-text:hover {
    color: $color-text-dark;
}
</style>