<template>
    <section class="productorserviceview-root">
        <div 
        class="productorserviceview-container"
        :style="`background: ${backgroundColor}`">
            <div class="productorserviceview-heading-container">
                <span class="productorserviceview-heading">
                    {{heading}}
                </span>
            </div>
            <div class="productorserviceview-content">
                <div 
                @click="handleRoute(productRoute)"
                class="productorserviceview-block productorserviceview-product" 
                :style="`background-image: linear-gradient(38.34deg, rgba(192, 72, 72, 0.75) -2%, rgba(72, 0, 72, 0.75) 100%), url('${productImg[3].jpeg}')`">
                    <span class="productorserviceview-name">
                        {{productName}}
                    </span>
                </div>
                <div 
                @click="handleRoute(serviceRoute)"
                class="productorserviceview-block productorserviceview-service" 
                :style="`background-image: linear-gradient(37.12deg, rgba(95, 44, 130, 0.75) 0%, rgba(73, 160, 157, 0.75) 100%), url('${serviceImg[3].jpeg}')`">
                    <span class="productorserviceview-name">
                        {{serviceName}}
                    </span>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
/*
********************************
    productImg: OBJECT(
        1: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        2: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        3: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
    )
    serviceImg: OBJECT(
        1: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        2: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        3: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
    )
    heading: STRING
    productName: STRING
    serviceName: STRING
    productRoute: ROUTE
    serviceRoute: ROUTE
********************************
*/
export default {
    name: 'ProductOrServiceView',
    props: ['productImg', 'serviceImg', 'heading', 'productName', 'serviceName', 'productRoute', 'serviceRoute'],
    data() {
        return {
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.productorserviceview-root {
    font-size: 16px;
}
.productorserviceview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 pixel-to-em(135);
}
.productorserviceview-heading-container {
    display: flex;
    justify-content: center;
    margin-bottom: pixel-to-em(61);
}
.productorserviceview-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(36);
    color: $color-text-dark;
}
.productorserviceview-content {
    height: pixel-to-em(661);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: pixel-to-em(20);
}
.productorserviceview-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.productorserviceview-product {
    grid-column: 1/2;
}
.productorserviceview-service {
    grid-column: 2/3;
}
.productorserviceview-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(48);
    color: $color-primary;
}
@media screen and (max-width: 1440px) {
    .productorserviceview-root {
        font-size: pixel-to-vw(16, 1440);
    }
    .productorserviceview-container {
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    .productorserviceview-root {
        font-size: pixel-to-vw(16, 768);
    }
    .productorserviceview-content {
        height: pixel-to-em(1024);
        grid-template-columns: 1fr;
        column-gap: 0;
        grid-template-rows: repeat(2, 1fr);
        row-gap: pixel-to-em(20);
    }
    .productorserviceview-product {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .productorserviceview-service {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}
</style>