<template>
    <section class="productinfoview-root">
        <div
        class="productinfoview-container"
        :style="`background-color: ${backgroundColor}`">
            <splide
            :options="infoOptions"
            :slides="productList"
            @splide:pagination:mounted="initInfoCarousel"
            @splide:move="handleInfoMove"
            >
                <splide-slide
                v-for="(value, key) in productList"
                :key="key">
                    <ProductInfo
                    :imageList="value.imageList"
                    :name="value.name"
                    :heading="value.heading"
                    :code="value.code"
                    :dimension="value.dimension"
                    :description="value.description"/>
                </splide-slide>

                <template v-slot:controls>
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev productinfoview-card-button">
                            <img
                            class="productinfoview-card-button-img"
                            :src="imgLeft"
                            alt="slide left button"/>
                        </button>
                        <button class="splide__arrow splide__arrow--next productinfoview-card-button">
                            <img
                            class="productinfoview-card-button-img"
                            :src="imgRight"
                            alt="slide right button"/>
                        </button>
                    </div>
                </template>
            </splide>
        </div>
    </section>
</template>

<script>
/*
************************************
    productList: ARRAY(
        imageList: ARRAY(
            OBJECT(
                1: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
                2: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
                3: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
            )
        )
        name: STRING
        heading: STRING
        code: STRING
        dimension: STRING
        description: STRING
    )
************************************
*/
import ProductInfo from '../components/ProductInfo'
import { Splide, SplideSlide } from '@splidejs/vue-splide'
import '@splidejs/splide/dist/css/splide.min.css'

export default {
    name: 'ProductInfoView',
    components: {
        Splide,
        SplideSlide,
        ProductInfo,
    },
    props: ['productList','start'],
    methods: {
        initInfoCarousel(splide) {
            this.infoSplide = splide

            this.initCardPagination()
            this.handleInfoMove(splide, 0)
            this.initBackgroundTexture()
        },
        initBackgroundTexture() {
            const root = this.infoSplide.root
            const track = root.children[0]
            const list = track.children[0]

            if(Object.keys(list.children).length > 0) {
                const info = list.children[0].children[0]
                const infoRect = info.getBoundingClientRect()

                this.textureSize = `${infoRect.width + 100}px, ${infoRect.height + 1000}px`
            }
        },
        initCardPagination() {
            this.infoSplide.root.children[2].style.display = 'none'
        },
        handleInfoMove(_, newIndex) {
            if(newIndex === 0) {
                this.imgLeft = require('../assets/svg/left_arrow_pink.svg')
            } else {
                this.imgLeft = require('../assets/svg/left_arrow_accent.svg')
            }

            if(newIndex === this.productList.length - 1) {
                this.imgRight = require('../assets/svg/right_arrow_pink.svg')
            } else {
                this.imgRight = require('../assets/svg/right_arrow_accent.svg')
            }
        }
    },
    data() {
        return {
            infoSplide: undefined,
            infoOptions: {
                autoWidth: true,
                autoHeight: true,
                pagination: true,
                keyboard: false,
                slideFocus: false,
                focus: 'center',
                trimSpace: false,
                gap: `${this.pixelToEm(200)}`,
                perPage: 1,
                perMove: 1,
                start: this.start ? this.start : 0

            },

            imgLeft: require('../assets/svg/left_arrow_pink.svg'),
            imgRight: require('../assets/svg/right_arrow_accent.svg'),

            backgroundTexture: require('../assets/svg/background_texture.svg'),
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.productinfoview-root {
    font-size: 16px;
}
.productinfoview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: pixel-to-em(77);
    padding-right: pixel-to-em(77);
}
.productinfoview-card-button {
    height: pixel-to-em(42);
    width: pixel-to-em(42);
    background: $color-primary;
    border-radius: 50%;
    box-shadow:
    0 pixel-to-em(-2) pixel-to-em(2) 0 rgba(146, 145, 145, 0.33),
    0 pixel-to-em(2) pixel-to-em(2) 0 rgba(187, 187, 187, 0.4);
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1.0;
}
.productinfoview-card-button:hover {
    opacity: 1.0;
}
.productinfoview-card-button:focus {
    opacity: 1.0;
}
.productinfoview-card-button-img {
    width: pixel-to-em(14);
    height: pixel-to-em(14);
    object-fit: contain;
}
@media screen and (max-width: 1440px) {
    .productinfoview-container {
        width: 100%;
    }
}
@media screen and (max-width: 892px) {
    .productinfoview-container {
        padding-left: pixel-to-em(24);
        padding-right: pixel-to-em(24);
    }
}
@media screen and (max-width: 728px) {
    .productinfoview-root {
        font-size: pixel-to-vw(16, 728);
    }
}
@media screen and (max-width: 568px) {
    .productinfoview-root {
        font-size: vw-to-pixel(pixel-to-vw(16, 728, false), 568);
    }
}
@media screen and (max-width: 498px) {
    .productinfoview-root {
        font-size:
        pixel-to-vw(vw-to-pixel(pixel-to-vw(16, 728, false), 568, false), 498);
    }
    .productinfoview-container {
        padding-left: pixel-to-em(16);
        padding-right: pixel-to-em(16);
    }
}
</style>