<template>
    <section class="productcardview-root">
        <div 
        class="productcardview-container"
        :style="`background-color: ${backgroundColor}`">
            <div class="productcardview-heading">
                {{heading}}
            </div>
            <div class="productcardview-grid">
                <ProductCard 
                v-for="(value, key) in cardList"
                :key="key"
                class="productcardview-card"
                :image="value.image"
                :title="value.title"
                :subTitle="value.subTitle"
                :code="value.code"
                :infoList="value.infoList"
                :route="value.route"/>
            </div>
        </div>
    </section>
</template>

<script>
/*
**********************************************
    heading: STRING
    cardList: ARRAY(
        OBJECT(
            image: OBJECT(
                1: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
                2: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
                3: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
            )
            title: STRING,
            subTitle: STRING,
            code: STRING
            infoList: OBJECT(
                left: ARRAY(
                    OBJECT(
                        title: STRING
                        value: STRING
                    )
                )
                right: ARRAY(
                    OBJECT(
                        title: STRING
                        value: STRING
                    )
                )
                bottom: OBJECT(
                    title: STRING
                    value: STRING
                )
            )
            route: ROUTE
        )
    )
**********************************************
*/
import ProductCard from '../components/ProductCard'

export default {
    name: 'ProductCardView',
    components: { 
        ProductCard,
    },
    props: ['heading', 'cardList'],
    data() {
        return {
            backgroundColor: this.$store.getters.layoutColor
        }
    } 
}
</script>

<style lang="scss">
.productcardview-root {
    font-size: 16px;
}
.productcardview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
    box-sizing: border-box;
}
.productcardview-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(36);
    color: $color-text-dark;
    margin-bottom: pixel-to-em(26);
    text-align: center;
}
.productcardview-grid {
    display: grid;
    grid-template-columns: repeat(4, #{pixel-to-em(288)});
    grid-auto-rows: pixel-to-em(423);
    column-gap: pixel-to-em(28);
    row-gap: pixel-to-em(46);
    padding: 0 pixel-to-em(100);
}
.productcardview-card {
    width: 100%;
}
@media screen and (max-width: 1440px) {
    .productcardview-root {
        font-size: pixel-to-vw(16, 1440);
    }
    .productcardview-container {
        width: 100%;
    }
}
@media screen and (max-width: 804px) {
    .productcardview-root {
        font-size: pixel-to-vw(16, 804);
    }
    .productcardview-grid {
        grid-template-columns: repeat(2, #{pixel-to-em(288)});
    }
}
@media screen and (max-width: 488px) {
    .productcardview-root {
        font-size: pixel-to-vw(16, 488);
    }
    .productcardview-grid {
        grid-template-columns: repeat(1, #{pixel-to-em(288)});
    }
}
</style>