<template>
    <section class="questionview-root">
        <div 
        class="questionview-container"
        :style="`background-color: ${backgroundColor}`">
            <div class="questionview-heading-container">
                <span class="questionview-heading">
                    {{heading}}
                </span>
                <span class="questionview-heading-sub">
                    {{subHeading}}
                </span>
            </div>

            <QuestionGroup 
            class="questionview-questiongroup"
            :questionList="questionList"/>
        </div>
    </section>
</template>

<script>
/*
***********************************
    heading: STRING,
    subHeading: STRING,
    questionList: ARRAY(
        OBJECT(
            question: STRING,
            answer: STRING
        )
    )
***********************************
*/
import QuestionGroup from '../components/QuestionGroup'

export default {
    name: 'QuestionView',
    components: { 
        QuestionGroup
    },
    props: ['heading', 'subHeading', 'questionList'],
    mounted() {
        this.initFadeOut()
    },
    data() {
        return {
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.questionview-root {
    font-size: 16px;
}
.questionview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
}
.questionview-heading-container {
    height: pixel-to-em(63);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: pixel-to-em(46);
}
.questionview-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(36);
    color: $color-text-dark;
}
.questionview-heading-sub {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: pixel-to-em(18);
    color: $color-text-light-dimmed-light;
}
.questionview-questiongroup {
    margin-left: pixel-to-em(135);
    margin-right: pixel-to-em(135);
}
@media screen and (max-width: 1440px) {
    .questionview-container {
        width: 100%;
    }
}
@media screen and (max-width: 1440px) {
    .questionview-questiongroup {
        margin-left: pixel-to-em(80);
        margin-right: pixel-to-em(80);
    }
}
@media screen and (max-width: 768px) {
    .questionview-questiongroup {
        margin-left: pixel-to-em(20);
        margin-right: pixel-to-em(20);
    }
}
@media screen and (max-width: 536px) {
    .questionview-root {
        font-size: pixel-to-vw(16, 536);
    }
}
</style>