<template>
    <section 
    v-if="show"
    class="routeview-root">
        <div 
        class="routeview-container"
        :style="`background-color: ${backgroundColor}`">
            <span
            v-for="(value, key) in routeList"
            :key="key">
                <span 
                v-if="key > 0"
                class="routeview-route">
                    &nbsp;/&nbsp;
                </span>
                <span 
                class="routeview-route"
                :class="(key === routeList.length - 1) ? 'routeview-active' : 'routeview-link'"
                @click="handleClick(key)">
                    {{value}}
                </span>
            </span>
        </div>
    </section>
</template>

<script>
export default {
    name: 'RouteView',
    watch: {
        $route(newVal) {
            this.show = this.checkRouteShow(newVal.name)
            this.routeList = this.createRouteList(newVal.name)
        }
    },
    created() {
        this.$store.subscribe((mutation) => {
            if(mutation.type === 'setLayoutColor') {
                this.backgroundColor = mutation.payload
            }
        })
    },
    methods: {
        checkRouteShow(routeName) {
            let show
            switch(routeName) {
                case 'Enquiry': case 'Contact': case 'Tieups': case 'Main': 
                    show = false
                    break 
                default: 
                    show = true
            }
            return show
        },
        createRouteList(routeName) {
            const list = routeName.split(/[^/]\/[^/]/g)
            for(let index in list) {
                list[index] = list[index].trim().replace('//', '/')
            }
            return list
        }   ,
        handleClick(key) {
            let index = 0, name = ''
            while(index < key) {
                name += this.routeList[index].replace('/', '//') + ' / '
                index += 1 
            }
            name += this.routeList[key]
            
            if(name === this.$route.name) location.reload()
            this.$router.push({ name: name })
        }
    },
    data() {
        return {
            routeList: null,
            show: this.checkRouteShow(this.$route.name),
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.routeview-root {
    font-size: 16px;
}
.routeview-container {
    width: pixel-to-em(1440);
    box-sizing: border-box;
    padding: pixel-to-em(55) pixel-to-em(135) pixel-to-em(28) pixel-to-em(135);
    margin: 0 auto;
}
.routeview-route {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: pixel-to-em(18);
    letter-spacing: 0.03em;
    color: $color-secondary-dark;
}
.routeview-link:hover {
    color: $color-accent;
}
.routeview-active {
    color: $color-accent;
}
@media screen and (max-width: 1440px) {
    .routeview-container {
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .routeview-container {
        padding-left: pixel-to-em(50);
        padding-right: pixel-to-em(50);
    }
}
@media screen and (max-width: 768px) {
    .routeview-root {
        font-size: pixel-to-vw(16, 768);
    }
}
@media screen and (max-width: 425px) {
    .routeview-root {
        font-size: vw-to-pixel(pixel-to-vw(16, 768, false), 425);
    }
}
</style>