<template>
    <section class="serviceimageview-root">
        <div 
        class="serviceimageview-container" 
        :style="`background-image: linear-gradient(rgba(73, 57, 57, 0.56), rgba(73, 57, 57, 0.56)), url('${backgroundImage[3].jpeg}'); background-color: url('${backgroundColor}')`">
            <div class="serviceimageview-content">
                <div class="serviceimageview-heading">
                    {{heading}}
                </div>
                <p class="serviceimageview-description">
                    {{description}}
                </p>
            </div>
            <button 
            class="serviceimageview-button" 
            @click="handleClick">
                {{buttonText}}
            </button>
        </div>
    </section>
</template>

<script>
/*
*******************************
    backgroundImage: OBJECT(
        1: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        2: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        3: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
    )
    heading: STRING
    description: STRING
    route: ROUTE
*******************************
*/
export default {
    name: 'ServiceImageView',
    props: ['backgroundImage', 'heading', 'description', 'route'],
    methods: {
        handleClick() {
            this.$router.push(this.route)
        }
    },
    data() {
        return {
            buttonText: 'Let\'s Talk',
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.serviceimageview-root {
    font-size: 16px;
}
.serviceimageview-container {
    width: pixel-to-em(1440);
    height: pixel-to-em(590);
    margin: 0 auto;
    box-sizing: border-box;
    padding: pixel-to-em(119) pixel-to-em(132);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.serviceimageview-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(48);
    color: $color-primary;
    margin-bottom: pixel-to-em(19);
}
.serviceimageview-description {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: pixel-to-em(16);
    line-height: pixel-to-em(24);
    letter-spacing: 0.04em;
    color: $color-primary;
}
.serviceimageview-button {
    width: pixel-to-em(229);
    height: pixel-to-em(64);
    display: flex;
    justify-content: center;
    align-items: center;
    border: pixel-to-em(3) solid $color-primary;
    border-radius: pixel-to-em(3);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(18);
    color: $color-primary;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.serviceimageview-button:hover {
    box-shadow: 0 0 pixel-to-em(3) 0 $color-primary;
}
@media screen and (max-width: 1440px) {
    .serviceimageview-container {
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .serviceimageview-root {
        font-size: pixel-to-vw(16, 1024);
    }
}
@media screen and (max-width: 768px) {
    .serviceimageview-root {
        font-size: vw-to-pixel(pixel-to-vw(16, 1024, false), 768);
    }
    .serviceimageview-container {
        align-items: center;
        padding: pixel-to-em(80) pixel-to-vw(80, 768);
    }
    .serviceimageview-heading {
        text-align: center;
    }
    .serviceimageview-description {
        text-align: center;
    }
}
@media screen and (max-width: 425px) {
    .serviceimageview-root {
        font-size: 
        pixel-to-vw(vw-to-pixel(pixel-to-vw(16, 1024, false), 768, false), 425);
    }
}
</style>