<template>
    <section class="servicecontentview-root">
        <div 
        class="servicecontentview-container"
        :style="`background-color: ${backgroundColor}`">
            <div 
            class="servicecontentview-img"
            :style="`background-image: url('${backgroundImage[3].jpeg}')`">
                <span class="servicecontentview-img-text">
                    {{name}}
                </span>
            </div>
            <div class="servicecontentview-content">
                <div class="servicecontentview-heading-container">
                    <span class="servicecontentview-heading">
                        {{heading}}
                    </span>
                </div>
                <div class="servicecontentview-subheading-container">
                    <span class="servicecontentview-subheading">
                        {{subHeading}}
                    </span>
                </div>
                <div class="servicecontentview-description-container">
                    <p class="servicecontentview-description">
                        {{description}}
                    </p>
                </div>
                <div class="servicecontentview-button-container">
                    <EnquiryButton 
                    class="servicecontentview-button"
                    @click="handleClick"/>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
/*
********************************
    name: STRING,
    heading: STRING,
    subHeading: STRING,
    description: STRING,
    backgroundImage: OBJECT(
        1: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        2: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        3: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
    )
********************************
*/
import EnquiryButton from '../components/EnquiryButton'

export default {
    name: 'ServiceContentView',
    components: { 
        EnquiryButton
    },
    props: ['name', 'heading', 'subHeading', 'description', 'backgroundImage'],
    methods: {
        handleClick() {
            this.$router.push({ name: 'Enquiry' })
        }
    },
    data() {
        return {
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.servicecontentview-root {
    font-size: 16px;
}
.servicecontentview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
}
.servicecontentview-img {
    height: pixel-to-em(590);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: pixel-to-em(54);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.servicecontentview-img-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(64);
    color: $color-primary;
}
.servicecontentview-content {
    box-sizing: border-box;
    padding-left: pixel-to-em(120);
    padding-right: pixel-to-em(120);
}
.servicecontentview-heading-container {
    margin-bottom: pixel-to-em(10);
}
.servicecontentview-heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(24);
    color: $color-text-dark-dark-dark;
}
.servicecontentview-subheading-container {
    margin-bottom: pixel-to-em(12);
}
.servicecontentview-subheading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(18);
    color: $color-text-dark-dark-dark;
}
.servicecontentview-description-container {
    margin-bottom: pixel-to-em(21);
}
.servicecontentview-description {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(16);
    line-height: pixel-to-em(28);
    letter-spacing: 0.04em;
    color: $color-secondary-dark;
}
@media screen and (max-width: 1440px) {
    .servicecontentview-container {
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 1024px) {
    .servicecontentview-root {
        font-size: pixel-to-vw(16, 1024);
    }
}
@media screen and (max-width: 768px) {
    .servicecontentview-root {
        font-size: vw-to-pixel(pixel-to-vw(16, 1024, false), 768);
    }
    .servicecontentview-content {
        padding-left: pixel-to-em(36);
        padding-right: pixel-to-em(36);
    }
    .servicecontentview-button-container {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 500px) {
    .servicecontentview-root {
        font-size: 
        pixel-to-vw(vw-to-pixel(pixel-to-vw(16, 1024, false), 768, false), 500);
    }
}
</style>