<template>
    <section class="servicecardview-root">
        <div 
        class="servicecardview-container"
        :style="`background-color: ${backgroundColor}`">
            <div class="servicecardview-heading">
                {{heading}}
            </div>
            <div class="servicecardview-content">
                <div 
                class="servicecardview-grid"
                :style="`grid-template-columns: repeat(${columnCount}, ${cardWidthEm})`">
                    <ServiceCard
                    v-for="(value, key) in cardList"
                    :key="key"
                    class="servicecardview-servicecard"
                    :title="value.title"
                    :description="value.description"
                    :backgroundImage="value.backgroundImage"
                    :route="value.route"/>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
/*
****************************************
    heading: STRING,
    cardList: ARRAY(
        OBJECT(
            title: STRING
            description: STRING
            backgroundImage: OBJECT(
                1: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
                2: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
                3: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
            )
            route: ROUTE
        )
    )
    gridColumnCount: INTEGER
****************************************
*/
import ServiceCard from '../components/ServiceCard'
export default {
    name: 'ServiceCardView',
    components: { 
        ServiceCard,
    },
    props: ['heading', 'cardList', 'gridColumnCount'],
    mounted() {
        this.initFadeOut()
        window.addEventListener('resize', this.handleColumnCount)
    },
    beforeDestroy() {
        window.removeEventListener('resize', this.handleColumnCount)
    },
    methods: {
        handleColumnCount() {
            let count = this.gridColumnCount, width = this.pixelToEm(255)
            if(document.body.clientWidth < 804) count = 2, width = this.pixelToEm(288)
            if(document.body.clientWidth < 488) count = 1, width = this.pixelToEm(288)
            
            this.columnCount = count
            this.cardWidthEm = width
        }
    },
    data() {
        let count = this.gridColumnCount, width = this.pixelToEm(255)
        if(document.body.clientWidth < 804) count = 2, width = this.pixelToEm(288)
        if(document.body.clientWidth < 488) count = 1, width = this.pixelToEm(288)

        return {
            columnCount: count,
            cardWidthEm: width,
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.servicecardview-root {
    font-size: 16px;
}
.servicecardview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
}
.servicecardview-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(36);
    color: $color-text-dark;
    margin-bottom: pixel-to-em(30);
    padding: 0 pixel-to-em(65);
}
.servicecardview-content {
    display: flex;
    justify-content: center;
}
.servicecardview-grid {
    display: grid;
    grid-auto-rows: pixel-to-em(460);
    column-gap: pixel-to-em(41);
    row-gap: pixel-to-em(46);
}
.servicecardview-servicecard {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1440px) {
    .servicecardview-container {
        width: 100%;
    }
}
@media screen and (max-width: 1198px) {
    .servicecardview-root {
        font-size: pixel-to-vw(16, 1198);
    }
}
@media screen and (max-width: 816px) {
    .servicecardview-root {
        font-size: pixel-to-vw(16, 816);
    }
    .servicecardview-heading {
        padding: 0;
        text-align: center;
    }
}
@media screen and (max-width: 503px) {
    .servicecardview-root {
        font-size: pixel-to-vw(16, 503);
    }
}
</style>