<template>
    <section class="tieupsview-root">
        <div 
        class="tieupsview-container"
        :style="`background-color: ${backgroundColor}`">
            <div class="tieupsview-heading">
                {{heading}}
            </div>

            <div class="tieupsview-blocks-container">
                <Pic
                v-for="(value, key) in partnerList"
                :key="key"
                class="tieupsview-blocks-layout"
                classes="tieupsview-blocks"
                :img="value.img"/>
            </div>
        </div>
    </section>
</template>

<script>
/* 
*****************************
    heading: STRING
    partnerList: ARRAY(
        OBJECT(
            img: OBJECT(
                1: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
                2: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
                3: OBJECT(
                    webp: IMAGE
                    jpeg: IMAGE
                )
            )
        )
    )
*****************************
*/ 
import Pic from '../components/Pic'

export default {
    name: 'TieupsView',
    components: {
        Pic
    },
    props: ['heading', 'partnerList'],
    data() {
        return {
            backgroundColor: this.$store.getters.layoutColor
        }
    }
}
</script>

<style lang="scss">
.tieupsview-root {
    font-size: 16px;
}    
.tieupsview-container {
    width: pixel-to-em(1440);
    margin: 0 auto;
}
.tieupsview-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(36);
    color: $color-text-dark;
    text-align: center;
    margin-bottom: pixel-to-em(36);
}
.tieupsview-blocks-container {
    margin: 0 pixel-to-em(100);
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: pixel-to-em(393);
    column-gap: pixel-to-em(40);
    row-gap: pixel-to-em(40);
    justify-items: center;
}
.tieupsview-blocks-layout {
    width: 100%;
    height: 100%;
}
.tieupsview-blocks {
    width: 100%;
    height: 100%;
}
.tieupsview-name {
    position: absolute;
    bottom: pixel-to-em(11);
    left: pixel-to-em(14);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(36);
    color: $color-primary;
}
@media screen and (max-width: 1440px) { 
    .tieupsview-root {
        font-size: pixel-to-vw(16, 1440);
    }
    .tieupsview-container {
        width: 100%;
        margin: 0;
    }
} 
@media screen and (max-width: 768px) { 
    .tieupsview-root {
        font-size: vw-to-pixel(pixel-to-vw(24, 1440, false), 768);
    }
    .tieupsview-blocks-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 pixel-to-em(72);
        font-size: pixel-to-vw(12.5, 768);
    }
}
@media screen and (max-width: 425px) { 
    .tieupsview-root {
        font-size: 
        pixel-to-vw(vw-to-pixel(pixel-to-vw(24, 1440, false), 768, false), 425);
    }
    .tieupsview-blocks-container {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: pixel-to-em(393 * 2);
    }
    .tieupsview-name {
        font-size: pixel-to-em(36 * 2);
    }
}
</style>