<template>
    <button 
    class="carouselbutton-root" 
    @click="$emit('click')"
    aria-label="carousel button">
        <img 
        class="carouselbutton-img" 
        :src="img"
        alt="carouselbutton image"/>
    </button>
</template>

<script>
/*
********************
    image: IMAGE
********************
*/
export default {
    name: 'CarouselButton',
    props: ['image'],
    watch: {
        image(newVal) {
            this.img = newVal
        }
    },
    data() {
        return {
            img: this.image
        }
    }
}
</script>

<style lang="scss">
.carouselbutton-root {
    height: pixel-to-em(42);
    width: pixel-to-em(42);
    background: $color-primary;
    border-radius: 50%;
    box-shadow: 
    0 pixel-to-em(-2) pixel-to-em(2) rgba(146, 145, 145, 0.33), 
    0 pixel-to-em(2) pixel-to-em(2) rgba(187, 187, 187, 0.4);
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.carouselbutton-img {
    width: pixel-to-em(14);
    height: pixel-to-em(14);
    object-fit: contain;
}
</style>