<template>
    <button 
    class="enquirybutton-container" 
    @click="$emit('click')"
    aria-label="enquiry button">
        <span class="enquirybutton-text">
            {{buttonText}}
        </span>
    </button>
</template>

<script>
export default {
    name: 'EnquiryButton',
    data() {
        return {
            buttonText: 'Enquiry'
        }
    }
}
</script>

<style lang="scss">
.enquirybutton-container {
    width: pixel-to-em(229);
    height: pixel-to-em(64);
    outline: none;
    border: pixel-to-em(3) solid $color-accent;
    border-radius: pixel-to-em(3);
    background: transparent;
}
.enquirybutton-container:hover {
    box-shadow: 0 0 pixel-to-em(3) 0 $color-accent;
    cursor: pointer;
}
.enquirybutton-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(18);
    color: $color-accent;
}
</style>