<template>
    <button 
    class="formsubmitbutton-container" 
    @click="$emit('click')"
    aria-label="form submit button">
        <span class="formsubmitbutton-text">
            {{buttonText}}
        </span>
    </button>
</template>

<script>
export default {
    name: 'FormSubmitButton',
    data() {
        return {
            buttonText: 'Submit'
        }
    }
}
</script>

<style lang="scss">
.formsubmitbutton-container {
    width: pixel-to-em(229);
    height: pixel-to-em(64);
    outline: none;
    border: pixel-to-em(3) solid $color-text-dark;
    border-radius: pixel-to-em(3);
    background: transparent;
}
.formsubmitbutton-container:hover {
    box-shadow: 0 0 pixel-to-em(3) 0 $color-text-dark;
    cursor: pointer;
}
.formsubmitbutton-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(18);
    color: $color-text-dark;
}
</style>