<template>
    <div class="hamburger-root" @click="$emit('click')">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path fill="#DF0818" d="M4,4 L20,4 L20,6 L4,6 L4,4 M4,18 L20,18 L20,20 L4,20 L4,18 M0,11 L24,11 L24,13 L0,13 L0,11">
                <animate 
                class="hamburger-to-hamburger"
                ref="hamburger-to-hamburger"
                attributeName="d"
                dur="0.1s"
                begin="indefinite"
                fill="freeze"
                to="M4,4 L20,4 L20,6 L4,6 L4,4 M4,18 L20,18 L20,20 L4,20 L4,18 M0,11 L24,11 L24,13 L0,13 L0,11"/>
                <animate 
                class="hamburger-to-close"
                ref="hamburger-to-close"
                attributeName="d"
                dur="0.1s"
                begin="indefinite"
                fill="freeze"
                to="M6,4 L20,18 L18,20 L4,6 L6,4 M4,18 L18,4 L20,6 L6,20 L4,18 M12,12 L12,12 L12,12 L12,12 L12,12"/>
            </path>
        </svg>
    </div>
</template>

<script>
export default {
    name: 'Hamburger',
    props: ['close'],
    watch: {
        close(newVal) {
            if(newVal) this.$refs['hamburger-to-close'].beginElement()
            else this.$refs['hamburger-to-hamburger'].beginElement()
        }
    }
}
</script>

<style lang="scss">
.hamburger-root {
    width: pixel-to-em(32);
    height: pixel-to-em(32);
    display: flex;
    cursor: pointer;
}
</style>