<template>
    <div class="input-container">
        <label 
        class="input-label"
        :style="`color: ${labelColor}`"
        :for="id">
            {{label}}
        </label> 

        <label 
        class="input-field-container-label"
        :for="id">
            <div 
            class="input-field-container"
            ref="input-field-container"
            :style="`
                cursor: ${cursorContainer};
                border-color: ${borderColor}; 
                background: ${backgroundColor};
                grid-template-areas: ${gridArea};
            `"
            @focusin="handleFocusIn"
            @focusout="handleFocusOut"
            @mouseenter="handleMouseEnter"
            @mouseleave="handleMouseLeave"
            @click="handleDropClick">
                <input 
                v-if="type !== 'TEXTAREA'"
                v-model="val"
                :id="id"
                class="input-field"
                type="text"
                :placeholder="dropPlaceholder"
                :name="name"
                :autocomplete="autocomplete"
                :autofocus="autofocus"
                :disabled="disabled"
                :style="`curosr: ${cursorInput}; caret-color: ${caretColor}`"
                @input="$emit('input')"
                @change="$emit('change')"/>

                <textarea 
                v-else
                class="input-field input-textarea"
                v-model="val"
                :id="id"
                :name="name"
                :autocomplete="autocomplete"
                :autofocus="autofocus"
                :disabled="disabled"
                :style="`curosr: ${cursorInput}; caret-color: ${caretColor}`"
                @input="$emit('input')"
                @change="$emit('change')"/>

                <div
                v-if="dropState === 'EXPANDED'" 
                class="input-dropdown"
                :style="`border-color: ${borderColor}`">
                    <div 
                    v-for="(value, key) in dropdownOptions"
                    :key="key"
                    class="input-dropdown-option"
                    @click="handleDropOption(value)">
                        <span class="input-dropdown-text">
                            {{value}}
                        </span>
                    </div>
                </div>

                <img 
                v-if="selectedIcon"
                class="input-img" 
                :src="selectedIcon"
                alt="input state icon"/>
            </div>
        </label>
    </div>
</template>

<script>
/*
*******************************************************
    id: STRING
    label: STRING
    name: STRING
    type: STRING ['TEXT', 'DROPDOWN', 'TEXTAREA']
    value: STRING
    dropdownPlaceholder: STRING
    dropdownOptions: ARRAY(
        STRING
    )
    autocomplete: STRING ['off', '']
    disable: BOOLEAN
    error: BOOLEAN
    submit: BOOLEAN
********************************************************
*/
export default {
    name: 'Input',
    props: [
        'id',
        'label', 
        'name', 
        'type', 
        'value',
        'dropdownPlaceholder', 
        'dropdownOptions',
        'autocomplete',
        'autofocus', 
        'disable', 
        'error',
        'submit'
    ],
    created() {
        const oldVal = 'DEFAULT'
        let newVal = 'DEFAULT'
        if(this.disable) newVal = 'DISABLE'
        else if(this.error) newVal = 'ERROR'
        this.state = newVal
        this.handleState(newVal, oldVal)

        if(this.type === 'DROPDOWN') {
            this.initDropdown()
        }
    },
    watch: {
        state(newVal, oldVal) {
            this.handleState(newVal, oldVal)
        },
        error(newVal) {
            if(this.state !== 'DISABLE') {
                const oldState = 'DEFAULT'
                let newState 
                if(newVal) newState = 'ERROR'
                else newState = 'DEFAULT'

                this.state = newState
                this.handleState(newState, oldState)
            }
        },
        submit(newVal) {
            if(newVal) this.$emit('submit', this.id, this.val)
        }
    },
    methods: {
        handleState(newState, oldState) {
            if(oldState !== 'DISABLE' && oldState !== 'ERROR') {
                const colors = this.$store.getters.colors 

                switch(newState) {
                    case 'DISABLE':
                        this.borderColor = colors.colorTextDarkDimmed
                        this.labelColor = colors.colorTextUnfocused
                        this.backgroundColor = colors.colorGreyDarkDimmed
                        this.fontColor = colors.colorTextDarkDarkDimmed
                        this.caretColor = colors.colorAccentFocused
                         if(this.type === 'DROPDOWN') {
                            this.cursorContainer = 'context-menu'
                            this.cursorInput = 'context-menu'
                        } else {
                            this.cursorContainer = 'context-menu'
                            this.cursorInput = 'context-menu'
                        }
                        this.gridArea = '"input-field . input-img"'
                        this.selectedIcon = this.disableIcon
                        break
                    case 'ERROR':
                        this.borderColor = colors.colorAccent
                        this.labelColor = colors.colorAccent
                        this.backgroundColor = colors.colorPrimary
                        this.fontColor = colors.colorTextDarkDarkDimmed
                        this.caretColor = colors.colorAccent
                         if(this.type === 'DROPDOWN') {
                            this.cursorContainer = 'context-menu'
                            this.cursorInput = 'context-menu'
                            this.selectedIcon = this.dropdownErrorIcon
                        } else {
                            this.cursorContainer = 'text'
                            this.cursorInput = 'text'
                            this.selectedIcon = this.errorIcon
                        }
                        this.gridArea = '"input-field . input-img"'
                        break
                    case 'ACTIVE':
                        this.borderColor = colors.colorAccentFocused
                        this.labelColor = colors.colorAccentFocused
                        this.backgroundColor = colors.colorPrimary
                        this.fontColor = colors.colorAccentFocused
                        this.caretColor = colors.colorAccentFocused
                         if(this.type === 'DROPDOWN') {
                            this.cursorContainer = 'context-menu'
                            this.cursorInput = 'context-menu'
                        } else {
                            this.cursorContainer = 'text'
                            this.cursorInput = 'text'
                        }
                        if(this.type === 'DROPDOWN') {
                            this.gridArea = '"input-field . input-img ."'
                            this.selectedIcon = this.dropdownIcon
                        } else {
                            this.gridArea = '"input-field input-field input-field"'
                            this.selectedIcon = null
                        }
            
                        break
                    case 'HOVER':
                        this.borderColor = colors.colorTextUnfocused
                        this.labelColor = colors.colorTextUnfocused
                        this.backgroundColor = colors.colorPrimary
                        this.fontColor = colors.colorTextDarkDarkDimmed
                        this.caretColor = colors.colorAccentFocused
                         if(this.type === 'DROPDOWN') {
                            this.cursorContainer = 'context-menu'
                            this.cursorInput = 'context-menu'
                        } else {
                            this.cursorContainer = 'text'
                            this.cursorInput = 'text'
                        }
                        if(this.type === 'DROPDOWN') {
                            this.gridArea = '"input-field . input-img ."'
                            this.selectedIcon = this.dropdownIcon
                        } else {
                            this.gridArea = '"input-field input-field input-field"'
                            this.selectedIcon = null
                        }
                        break
                    case 'DEFAULT':
                        this.borderColor = colors.colorTextDarkDimmed
                        this.labelColor = colors.colorTextUnfocused
                        this.backgroundColor = colors.colorPrimary
                        this.fontColor = colors.colorTextDarkDarkDimmed
                        this.caretColor = colors.colorAccentFocused
                        if(this.type === 'DROPDOWN') {
                            this.cursorContainer = 'context-menu'
                            this.cursorInput = 'context-menu'
                        } else {
                            this.cursorContainer = 'text'
                            this.cursorInput = 'text'
                        }
                        if(this.type === 'DROPDOWN') {
                            this.gridArea = '"input-field . input-img ."'
                            this.selectedIcon = this.dropdownIcon
                        } else {
                            this.gridArea = '"input-field input-field input-field"'
                            this.selectedIcon = null
                        }
                }
            }
        },
        handleMouseEnter() {
            if(this.state !== 'DISABLE' && 
                this.state !== 'ERROR' &&
                this.state !== 'ACTIVE'
            ) this.state = 'HOVER'
        },
        handleMouseLeave() {
            if(this.state !== 'DISABLE' && 
                this.state !== 'ERROR' &&
                this.state !== 'ACTIVE'
            ) this.state = 'DEFAULT'
        },
        handleFocusIn() {
            if(this.state !== 'DISABLE' &&
                this.state !== 'ERROR'
            ) this.state = 'ACTIVE'
        },
        handleFocusOut() {
            if(this.state !== 'DISABLE' && 
                this.state !== 'ERROR'
            ) this.state = 'DEFAULT'
        },
        initDropdown() {
            this.dropPlaceholder = this.dropdownPlaceholder
        },
        handleDropClick() {
            if(this.state !== 'DISABLE' && this.type === 'DROPDOWN') {
                if(this.dropState === 'COLLAPSED') {
                    this.dropState = 'EXPANDED'
                    if(this.state !== 'ERROR') this.state = 'ACTIVE'
                } else {
                    this.dropState = 'COLLAPSED'
                    if(this.state !== 'ERROR') this.state = 'DEFAULT'
                }
            }
        },
        handleDropOption(value) {
            this.val = value 
        }
    },
    data() {
        const colors = this.$store.getters.colors 

        return {
            dropdownIcon: require('../assets/svg/dropdown.svg'),
            disableIcon: require('../assets/svg/disable.svg'),
            errorIcon: require('../assets/svg/error.svg'),
            dropdownErrorIcon: require('../assets/svg/dropdown_red.svg'),
            dropPlaceholder: this.type === 'DROPDOWN' ? this.dropdownPlaceholder : '',
            dropState: 'COLLAPSED',
            disabled: this.type === 'DROPDOWN' ? true : this.disable,
            val: this.value ? this.value : '',
            state: 'DEFAULT',
            borderColor: colors.colorTextDarkDimmed,
            labelColor: colors.colorTextUnfocused,
            backgroundColor: colors.colorPrimary,
            fontColor: colors.colorTextDarkDarkDimmed,
            cursorContainer: 'auto',
            cursorInput: 'auto',
            caretColor: colors.colorAccentFocused,
            gridArea: '"input-field input-field input-field"',
            selectedIcon: null,
            rows: this.textareaRows ? this.textareaRows : 0
        }
    }
}
</script>

<style lang="scss">
.input-label {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: pixel-to-em(14);
}
.input-field-container {
    margin-top: pixel-to-em(6);
    width: 100%;
    display: grid;
    grid-template-columns: 
    calc(100% - #{pixel-to-em(38)}) pixel-to-em(16) pixel-to-em(16);
    align-items: center;
    border-width: pixel-to-em(2);
    border-style: solid;
    border-radius: pixel-to-em(4);
    box-sizing: border-box;
    padding: pixel-to-em(17) pixel-to-em(12);
    position: relative;
}
.input-field {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: pixel-to-em(16);
    color: $color-text-dark-dark-dimmed;
    outline: none;
    border: none;
    background: transparent;
    grid-area: input-field;
    resize: none;
}
.input-field::placeholder {
    color: $color-text-disabled;
}
.input-textarea {
    height: pixel-to-em(115);
}
.input-img {
    width: 100%;
    height: 100%;
    grid-area: input-img;
}
.input-dropdown {
    position: absolute;
    top: calc(100% + #{pixel-to-em(1)});
    left: pixel-to-em(-2);
    right: pixel-to-em(-2);
    border-radius: pixel-to-em(4);
    border-width: pixel-to-em(2); 
    border-style: solid; 
    background: $color-primary;
    z-index: 10;
}
.input-dropdown-option {
    box-sizing: border-box;
    padding: pixel-to-em(17) pixel-to-em(12);
}
.input-dropdown-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: pixel-to-em(16);
    color: $color-text-dark-dark-dimmed;
    background: transparent;
}
</style>