<template>
    <div class="logo-root" @click="$emit('click')">
        <img 
        class="logo-img" 
        :src="require('../assets/svg/logo.svg')"
        alt="logo"/>
        <span class="logo-name logo-km" ref="logo-km">KM</span>
        <span class="logo-name logo-group" ref="logo-group">Group</span>
        <span class="logo-name logo-co" ref="logo-co">Co</span>
    </div>
</template>

<script>
export default {
    name: 'Logo',
    props: ['darkBackground'],
    mounted() {
        const km = this.$refs['logo-km']
        const group = this.$refs['logo-group']
        const co = this.$refs['logo-co']

        if(this.darkBackground) {
            km.classList.add('logo-dark-background')
            group.classList.add('logo-dark-background')
            co.classList.add('logo-dark-background')
        }
    }
}
</script>

<style lang="scss">
.logo-root {
    display: flex;
    align-items: center;
}
.logo-img {
    width: pixel-to-em(70);
    height: pixel-to-em(43);
}
.logo-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(24);
}
.logo-km {
    margin-left: pixel-to-em(24);
    color: $color-accent;
}
.logo-group {
    margin-left: pixel-to-em(5);
    color: $color-text-dark;
}
.logo-co {
    margin-left: pixel-to-em(5);
    color: $color-secondary-dark;
}
.logo-dark-background {
    color: $color-primary;
}
</style>