<template>
    <div class="maincarouselcard-container">
        <Pic 
        classes="maincarouselcard-img"
        :img="img"/>
        <div class="maincarouselcard-content">
            <span class="maincarouselcard-name">
                {{name}}
            </span>
            <span class="maincarouselcard-description-container">
                <span 
                v-for="(value, key) in description"
                :key="key"
                class="maincarouselcard-description"
                :style="`color: ${value.color}`">
                    {{value.word}}
                </span>
            </span>
        </div>
    </div>
</template>

<script>
/*
********************************
    img: OBJECT(
        1: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        2: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        3: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
    )
    name: STRING
    description: ARRAY(
        OBJECT(
            word: STRING
            color: STRING
        )
    )
********************************
*/
import Pic from './Pic'

export default {
    name: 'MainCarouselCard',
    props: ['img', 'name', 'description'],
    components: {
        Pic
    }
}
</script>

<style lang="scss">
.maincarouselcard-container {
    width: pixel-to-em(331);
    height: pixel-to-em(284);
    box-shadow: 
    0 0 pixel-to-em(4) pixel-to-em(1) rgba(0, 0, 0, 0.15);
    background: $color-primary;
}
.maincarouselcard-img {
    width: 100%;
    height: pixel-to-em(190);
    object-fit: cover;
}
.maincarouselcard-content {
    height: pixel-to-em(94);
    box-sizing: border-box;
    padding: 
    pixel-to-em(6)
    pixel-to-em(10)
    pixel-to-em(14)
    pixel-to-em(10);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.maincarouselcard-description-container {
    text-align: center;
}
.maincarouselcard-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(16);
    line-height: pixel-to-em(19);
    letter-spacing: -0.02em;
    color: $color-text-dark;
}
.maincarouselcard-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: pixel-to-em(14);
    letter-spacing: -0.02em;
    color: $color-text-dark;
    text-align: center;
}
</style>