<template>
    <div 
    v-if="this.$store.getters.notification"
    class="notification-container">
        <div class="notification-text">
            {{ this.$store.getters.notification }}
        </div>
    </div>
</template>

<script>
export default {
    name: 'Notification',
}
</script>

<style lang="scss">
.notification-container {
    position: fixed;
    bottom: 60px;
    left: 40px; 
    right: 40px;
    border-radius: 10px;
    padding: 16px 24px;
    border: 3px solid $color-accent;
    z-index: 200;
    background-color: $color-primary;
}
.notification-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: pixel-to-em(14);
    color: $color-accent;
}
</style>