<template>
    <picture
    @click="$emit('click', $event)">
        <source 
        type="image/webp" 
        :srcset="parseWebp"/>
        <source 
        type="image/jpeg" 
        :srcset="parseJpeg"/>
        <img 
        alt="pic"
        :class="classes"
        :src="parseSrc"/>
    </picture>
</template>

<script>
/*
************************************
    class: STRING
    events: ARRAY(
        NATIVE-EVENT
    )
    img: OBJECT(
        1: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        2: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        3: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
    )
*************************************
*/
export default {
    name: 'Pic',
    props: ['img', 'classes'],
    computed: {
        parseSrc() {
            return this.img[1].jpeg            
        },
        parseWebp() {
            return `${this.img[1].webp} 768w, ${this.img[2].webp} 1024w, ${this.img[3].webp} 1440w`
        },
        parseJpeg() {
            return `${this.img[1].jpeg} 768w, ${this.img[2].jpeg} 1024w, ${this.img[3].jpeg} 1440w`
        },
    },
}
</script>