<template>
    <div class="productcard-container">
        <div class="productcard-img"
        :style="`background-image: url('${image[2].jpeg}')`"
        @click="handleRoute(route)">
            <div
            class="productcard-img-content"
            :style="`clip-path: ${clipPath}`">
                <div class="productcard-info-container">
                    <div class="productcard-info-left-container">
                        <div>
                            <div class="productcard-info-title">
                                {{infoList.left[0].title}}
                            </div>
                            <div class="productcard-info-value">
                                {{infoList.left[0].value}}
                            </div>
                        </div>

                        <div
                        v-for="(value, key) in infoList.left.slice(1)"
                        :key="key"
                        class="productcard-info-element">
                            <div class="productcard-info-title">
                                {{value.title}}
                            </div>
                            <div class="productcard-info-value">
                                {{value.value}}
                            </div>
                        </div>
                    </div>

                    <div class="productcard-info-right-container">
                        <div>
                            <div class="productcard-info-title">
                                {{infoList.right[0].title}}
                            </div>
                            <div class="productcard-info-value">
                                {{infoList.right[0].value}}
                            </div>
                        </div>

                        <div
                        v-for="(value, key) in infoList.right.slice(1)"
                        :key="key"
                        class="productcard-info-element">
                            <div class="productcard-info-title">
                                {{value.title}}
                            </div>
                            <div class="productcard-info-value">
                                {{value.value}}
                            </div>
                        </div>
                    </div>

                    <div class="productcard-info-bottom-container">
                        <div class="productcard-info-title">
                            {{infoList.bottom.title}}
                        </div>
                        <div class="productcard-info-value">
                            {{infoList.bottom.value}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img
        class="productcard-info"
        ref="productcard-info"
        :src="infoIcon"
        alt="product info"
        @click="handleInfoClick"/>
        <div class="productcard-content">
            <div class="productcard-description">
                <div class="productcard-title">
                    {{title}}
                </div>
                <div class="productcard-subtitle">
                    {{subTitle}}
                </div>
            </div>
            <div class="productcard-code">
                {{code}}
            </div>
        </div>
    </div>
</template>

<script>
/*
***********************************
    image: OBJECT(
        1: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        2: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        3: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
    )
    title: STRING
    subTitle: STRING
    code: STRING
    infoList: OBJECT(
        left: ARRAY(
            OBJECT(
                title: STRING
                value: STRING
            )
        )
        right: ARRAY(
            OBJECT(
                title: STRING
                value: STRING
            )
        )
        bottom: OBJECT(
            title: STRING
            value: STRING
        )
    )
    route: ROUTE
*************************************
*/
export default {
    name: 'ProductCard',
    props: ['image', 'title', 'subTitle', 'code', 'infoList', 'route'],
    methods: {
        handleInfoClick() {
            if(this.infoClose) {
                this.infoIcon = require('../assets/svg/close_white.svg')
                this.clipPath = 'circle(140% at 94.75% 4.4%)'
            }
            else {
                this.infoIcon = require('../assets/svg/info.svg')
                this.clipPath = 'circle(0% at 94.75% 4.4%)'
            }

            this.infoClose = !this.infoClose
        },
    },
    data() {
        return {
            infoClose: true,
            infoIcon: require('../assets/svg/info.svg'),
            clipPath: 'circle(0% at 94.75% 4.4%)'
        }
    }
}
</script>

<style lang="scss">
.productcard-container {
    width: pixel-to-em(288);
    height: pixel-to-em(423);
    position: relative;
    box-shadow: 0 pixel-to-em(1) pixel-to-em(6) 0 rgba(0, 0, 0, 0.15);
    background: $color-primary;
    display: flex;
    flex-direction: column;
}
.productcard-container:hover {
    box-shadow: 0 pixel-to-em(1) pixel-to-em(6) pixel-to-em(3) rgba(0, 0, 0, 0.15);
}
.productcard-img {
    height: calc(100% - #{pixel-to-em(84)});
    width: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.productcard-img-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-pink;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    padding: pixel-to-em(30);
}
.productcard-info-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: pixel-to-em(20);
    grid-template-rows: pixel-to-em(158) pixel-to-em(105);
    row-gap: pixel-to-em(16);
}
.productcard-info-left-container {
    grid-column: 1/2;
    grid-row: 1/2;
}
.productcard-info-right-container {
    grid-column: 2/3;
    grid-row: 1/2;
}
.productcard-info-bottom-container {
    grid-column: 1/3;
    grid-row: 2/3;
}
.productcard-info-element {
    margin-top: pixel-to-em(16);
}
.productcard-info-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: pixel-to-em(14);
    letter-spacing: 0.02em;
    color: $color-primary;
}
.productcard-info-value {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: pixel-to-em(14);
    letter-spacing: 0.02em;
    color: $color-primary;
    margin-top: pixel-to-em(8);
    line-height: pixel-to-em(21);
}
.productcard-info {
    width: pixel-to-em(30);
    height: pixel-to-em(30);
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.productcard-content {
    height: pixel-to-em(84);
    box-sizing: border-box;
    padding: pixel-to-em(8) pixel-to-em(13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productcard-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(20);
    color: $color-text-dark;
}
.productcard-subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: pixel-to-em(14);
    letter-spacing: 0.02em;
    color: $color-text-dark-dark;
}
.productcard-code {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(14);
    color: $color-text-dark;
}
</style>