<template>
    <div class="productinfo-container">
        <div class="productinfo-name-container">
            <span class="productinfo-name">
                {{name}}
            </span>
        </div>
        <Pic
        class="productinfo-img-big-layout"
        :img="selectedImage"
        classes="productinfo-img-big"/>
        <div class="productinfo-img-small-container">
            <Pic
            v-for="(value, key) in imageList"
            :key="key"
            classes="productinfo-img-small"
            :img="value"
            @click="handleClick(value)"/>
        </div>
        <div class="productinfo-content">
            <div class="productinfo-heading-container">
                <span class="productinfo-heading">
                    {{heading}}
                </span>
            </div>
            <div class="productinfo-code-container">
                <span class="productinfo-code">
                    {{code}}
                </span>
            </div>
            <div class="productinfo-dimension-container">
                <span class="productinfo-dimension">
                    {{dimension}}
                </span>
            </div>
            <div class="productinfo-description-container">
                <p class="productinfo-description">
                    {{description}}
                </p>
                <p class="productinfo-description" style="opacity: .7">Please do not hesitate to contact us if you have any query or formal communication or to appoint meeting.</p>
            </div>
        </div>
        <EnquiryButton
        class="productinfo-enquirybutton"
        @click="handleEnquiry"/>
    </div>
</template>

<script>
/*
*****************************
    imageList: ARRAY(
        OBJECT(
            1: OBJECT(
                webp: IMAGE
                jpeg: IMAGE
            )
            2: OBJECT(
                webp: IMAGE
                jpeg: IMAGE
            )
            3: OBJECT(
                webp: IMAGE
                jpeg: IMAGE
            )
        )
    )
    name: STRING
    heading: STRING
    code: STRING
    dimension: STRING
    description: STRING
*****************************
*/
import EnquiryButton from './EnquiryButton'
import Pic from './Pic'

export default {
    name: 'ProductInfo',
    components: {
        EnquiryButton,
        Pic
    },
    props: ['imageList', 'name', 'heading', 'code', 'dimension', 'description'],
    watch: {
        imageList(newVal) {
            this.selectedImage = newVal[0]
        }
    },
    methods: {
        handleClick(image) {
            this.selectedImage = image
        },
        handleEnquiry() {
            this.$router.push({ name: 'Enquiry' })
        }
    },
    data() {
        return {
            selectedImage: this.imageList[0]
        }
    }
}
</script>

<style lang="scss">
.productinfo-container {
    width: pixel-to-em(1049);
    height: pixel-to-em(684);
    background: $color-primary;
    border-radius: pixel-to-em(4);
    border: pixel-to-em(2) solid $color-grey-dimmed;
    box-sizing: border-box;
    padding:
    pixel-to-em(15)
    pixel-to-em(20)
    pixel-to-em(40)
    pixel-to-em(20);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: pixel-to-em(20);
    grid-template-rows:
    pixel-to-em(42)
    pixel-to-em(17)
    pixel-to-em(480)
    pixel-to-em(16)
    pixel-to-em(16)
    pixel-to-em(44)
    pixel-to-em(16);
}
.productinfo-name-container {
    grid-row: 1/2;
    grid-column: 1/13;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productinfo-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(36);
    color: $color-text-dark;
}
.productinfo-img-big-layout {
    grid-row: 3/4;
    grid-column: 1/7;
}
.productinfo-img-big {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productinfo-img-small-container {
    grid-row: 5/7;
    grid-column: 1/7;
}
.productinfo-img-small {
    width: pixel-to-em(60);
    height: 100%;
    margin-right: pixel-to-em(20);
    object-fit: cover;
    cursor: pointer;
}
.productinfo-content {
    grid-row: 3/4;
    grid-column: 7/13;
}
.productinfo-heading-container {
    margin-bottom: pixel-to-em(20);
}
.productinfo-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(24);
    color: $color-text-dark-dark-dark;
}
.productinfo-code-container {
    margin-bottom: pixel-to-em(20);
}
.productinfo-code {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(24);
    color: $color-text-dark;
}
.productinfo-dimension-container {
    margin-bottom: pixel-to-em(20);
}
.productinfo-dimension {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(18);
    color: $color-text-dark;
}
.productinfo-description-container {
    margin-bottom: pixel-to-em(20);
}
.productinfo-description {
    margin-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: pixel-to-em(16);
    line-height: pixel-to-em(24);
    letter-spacing: 0.04em;
    color: $color-text-dark;
}
.productinfo-enquirybutton {
    grid-row: 6/8;
    grid-column: 7/13;
}
@media screen and (max-width: 1440px) {
    .productinfo-container {
        width: pixel-to-vw(1049, 1440);
        height: pixel-to-em(764);
        grid-template-rows:
        pixel-to-em(42)
        pixel-to-em(17)
        pixel-to-em(480)
        pixel-to-em(16)
        pixel-to-em(16)
        pixel-to-em(44)
        pixel-to-em(20)
        pixel-to-em(16)
        pixel-to-em(60);
    }
    .productinfo-content {
        grid-row: 3/8;
    }
    .productinfo-enquirybutton {
        grid-row: 9/10;
    }
}
@media screen and (max-width: 1164px) {
    .productinfo-container {
        width: pixel-to-em(620);
        height: pixel-to-em(1230);
        grid-template-rows:
        pixel-to-em(42)
        pixel-to-em(17)
        pixel-to-em(480)
        pixel-to-em(16)
        pixel-to-em(60)
        pixel-to-em(20)
        pixel-to-em(470)
        pixel-to-em(60);
    }
    .productinfo-img-big-layout {
        grid-column: 1/13;
    }
    .productinfo-img-small-container {
        grid-row: 5/6;
        grid-column: 1/13;
    }
    .productinfo-content {
        grid-row: 7/8;
        grid-column: 1/13;
    }
    .productinfo-enquirybutton {
        grid-row: 8/9;
    }
}
@media screen and (max-width: 1032px) {
    .productinfo-container {
        width: pixel-to-vw(620, 1032);
    }
}
@media screen and (max-width: 892px) {
    .productinfo-container {
        width:
        pixel-to-em(vw-to-pixel(pixel-to-vw(620, 1032, false), 892, false));
    }
}
@media screen and (max-width: 568px) {
    .productinfo-container {
        width: pixel-to-vw(400, 568);
        height: pixel-to-em(1820);
        grid-template-rows:
        pixel-to-em(42)
        pixel-to-em(17)
        pixel-to-em(480)
        pixel-to-em(16)
        pixel-to-em(60)
        pixel-to-em(20)
        pixel-to-em(1060)
        pixel-to-em(60);
    }
    .productinfo-heading {
        font-size: pixel-to-em(32);
    }
    .productinfo-code {
        font-size: pixel-to-em(32);
    }
    .productinfo-dimension {
        font-size: pixel-to-em(26);
    }
    .productinfo-description {
        font-size: pixel-to-em(24);
        line-height: pixel-to-em(22);
        letter-spacing: 0.04em;
    }
    .productinfo-enquirybutton {
        grid-column: 1/13;
    }
}
</style>