<template>
    <svg width="10" height="13" viewBox="0 0 10 13" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.5 6.5L0.875 12.9952V0.00480938L9.5 6.5Z" :fill="color"/>
    </svg>
</template>

<script>
export default {
    name: 'QuestionArrow',
    props: ['active'], 
    watch: {
        active(newVal) {
            const colors = this.$store.getters.colors
            this.color = newVal ? colors.colorAccent : colors.colorTextDark
        }
    },
    data() {
        const colors = this.$store.getters.colors
        const color = this.active ? colors.colorAccent : colors.colorTextDark

        return {
            color: color
        }
    }
}   
</script>
