<template>
    <div 
    class="question-container" 
    :style="`border-left-color: ${borderLeftColor}; background: ${backgroundColor}`"
    @mouseenter="handleMouseEnter"
    @mouseleave="handleMouseLeave"
    @click="handleClick">
        <div class="question-question-container">
            <QuestionArrow 
            class="question-arrow"
            :style="`transform: rotate(${rotateBy})`" 
            :active="active"/>
            <div class="question-question">
                {{question}}
            </div>
        </div>

        <p v-if="clicked" class="question-answer">
            {{answer}}
        </p>
    </div>
</template>

<script>
/*
**************************
    question: STRING
    answer: STRING
**************************
*/
import QuestionArrow from './QuestionArrow'

export default {
    name: 'Question',
    components: {
        QuestionArrow
    },
    props: ['question', 'answer'],
    watch: {
        clicked(newVal) {
            if(newVal) this.rotateBy = '-90deg'
            else this.rotateBy = '0deg'
        },
        active(newVal) {
            if(!this.clicked) {
                const colors = this.$store.getters.colors 

                if(newVal) {
                    this.borderLeftColor = colors.colorAccent
                    this.backgroundColor = colors.colorAccentLightDimmed
                } else {
                    this.borderLeftColor = 'transparent'
                    this.backgroundColor = 'transparent'
                }
            }
        }
    },
    methods: {
        handleMouseEnter() {
            if(!this.clicked) this.active = true
        },
        handleMouseLeave() {
            if(!this.clicked) this.active = false
        },
        handleClick() {
            this.clicked = !this.clicked
        }
    },
    data() {
        return {
            clicked: false,
            active: false,
            rotateBy: '0deg',
            borderLeftColor: 'transparent',
            backgroundColor: 'transparent'
        }
    }
}
</script>

<style lang="scss">
.question-container {
    border-left-width: pixel-to-em(8);
    border-left-style: solid;
    padding-left: pixel-to-em(11);
    padding-right: pixel-to-em(44);
}
.question-question-container {   
    display: flex;
    align-items: center;
    padding-top: pixel-to-em(15);
    padding-bottom: pixel-to-em(15);
}
.question-arrow {
    margin-right: pixel-to-em(19);
    width: pixel-to-em(12);
    height: pixel-to-em(12);
    transition: transform 0.2s ease-in-out;
}
.question-question {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: pixel-to-em(18);
    color: $color-text-dark;
    cursor: context-menu;
}
.question-answer {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: pixel-to-em(16);
    line-height: pixel-to-em(25);
    letter-spacing: 0.04em;
    padding-bottom: pixel-to-em(17);
    padding-left: pixel-to-em(38);
    color: $color-text-dark-dimmed;
    margin: 0;
}
</style>