<template>
    <ul class="questiongroup-container">
        <li
        v-for="(value, index) in questionList"
        :key="index"
        class="questiongroup-list-item">
            <Question 
            class="questiongroup-question"
            :question="value.question"
            :answer="value.answer"/>
        </li>
    </ul>
</template>

<script>
/*
*********************************
    questionList: ARRAY(
        OBJECT(
            question: STRING
            answer: STRING
        )
    )
*********************************
*/
import Question from './Question'

export default {
    name: 'QuestionGroup',
    props: ['questionList'],
    components: {
        Question
    }
}
</script>

<style lang="scss">
.questiongroup-container {
    margin: 0;
    padding: 0;
}
.questiongroup-list-item {
    list-style: none;
    padding: 0;
    margin: 0;
}
.questiongroup-question {
    box-shadow: 0 pixel-to-em(-1) 0 $color-grey-light-dimmed;
}
</style>