<template>
    <div class="servicecard-container" 
    @click="handleRoute(route)"
    @mouseenter="handleMouseEnter"
    @mouseleave="handleMouseLeave">
        <div class="servicecard-content">
            <img 
            class="servicecard-icon" 
            :src="icon"
            alt="service card icon"/>
            <div 
            class="servicecard-title"
            ref="servicecard-title">
                {{title}}
            </div>
            <div 
            class="servicecard-description"
            ref="servicecard-description">
                {{description}}
            </div>
        </div>
        <div class="servicecard-link-container">
            <span class="servicecard-link-text">
                {{linkText}}
            </span>
            <img 
            class="servicecard-link-icon" 
            :src="linkIcon"
            alt="servicecard link icon"/>
        </div>
    </div>
</template>

<script>
/*
*******************************
    title: STRING,
    description: STRING,
    backgroundImage: OBJECT(
        1: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        2: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
        3: OBJECT(
            webp: IMAGE
            jpeg: IMAGE
        )
    )
    route: ROUTE
*******************************
*/
export default {
    name: 'ServiceCard',
    props: ['title', 'description', 'backgroundImage', 'route'],
    methods: {
        handleMouseEnter(event) {
            const style = event.target.style 
            style.transform = 'scale(1.05)'
            style.backgroundImage = `linear-gradient(27deg, rgba(2,0,36,0.9) 0%, rgba(9,9,121,0.9) 57%, rgba(9,9,121,0.9) 100%), url('${this.backgroundImage[3].jpeg}')`
            style.borderRadius = `${this.pixelToEm(6)}`

            const title = this.$refs['servicecard-title']
            title.style.color = this.$store.getters.colors.colorPrimary

            const description = this.$refs['servicecard-description']
            description.style.color = this.$store.getters.colors.colorPrimary
        },
        handleMouseLeave(event) {
            const style = event.target.style 
            style.transform = 'scale(1)'
            style.backgroundImage = 'none'
            style.borderRadius = `0`

            const title = this.$refs['servicecard-title']
            title.style.color = this.$store.getters.colors.colorTextDark

            const description = this.$refs['servicecard-description']
            description.style.color = this.$store.getters.colors.colorTextDark
        }
    },
    data() {
        return {
            icon: require('../assets/svg/graphic.svg'),
            linkText: 'Learn more',
            linkIcon: require('../assets/svg/link_pointer.svg'),
            width: this.pixelToEm(255),
            height: this.pixelToEm(400)
        }
    }
}
</script>

<style lang="scss">
.servicecard-container {
    width: pixel-to-em(255);
    height: pixel-to-em(400);
    box-sizing: border-box;
    padding: pixel-to-em(20) pixel-to-em(24);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-primary;
    border: pixel-to-em(2) solid $color-grey-light-dimmed;
    transition: all 0.2s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.servicecard-icon {
    width: pixel-to-em(48);
    height: pixel-to-em(48);
    margin-bottom: pixel-to-em(11);
}
.servicecard-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: pixel-to-em(24);
    line-height: pixel-to-em(20);
    margin-bottom: pixel-to-em(11);
    color: $color-text-dark;
    cursor: context-menu;
}
.servicecard-description {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: pixel-to-em(16);
    line-height: pixel-to-em(23);
    color: $color-text-dark;
}
.servicecard-link-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.servicecard-link-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: pixel-to-em(18);
    color: $color-accent;
    margin-right: pixel-to-em(5);
}
.servicecard-link-icon {
    height: pixel-to-em(15);
    width: pixel-to-em(15);
}
</style>