@charset 'utf-8';

$color-background: #F4F4F4;
$color-background-dark: #EDEDED;

$color-primary: #FFFFFF;
$color-primary-dark: #091C27;
$color-secondary-dark: #000000;
 
$color-disabled: #E5E5E5;

$color-grey: #4E616C;
$color-grey-light: #697983;
$color-grey-img-back: #8C8C8C;
$color-grey-light-dimmed: #CECECE;
$color-grey-dimmed: #BDBCBC;
$color-grey-dark-dimmed: #F4F4F4;
$color-grey-light-light-dimmed: #FDFDFD;

$color-pink: #E28C93;

$color-accent: #DF0818;
$color-accent-light: #C7BABA;
$color-accent-light-dimmed: #FFFAFA;
$color-accent-focused: #091AAC;

$color-text-dark: #494949;
$color-text-light: #FFFFFF;
$color-text-light-dimmed: #A6A5A5;
$color-text-light-dimmed-light: #C4C4C4;
$color-text-dark-dimmed: #959494;
$color-text-unfocused: #767676;
$color-text-disabled: #CACACA;
$color-text-dark-dark: #6A6868;
$color-text-dark-dark-dark: #454444;
$color-text-dark-dark-dimmed: #1A1A1A;


@function pixel-to-em($element-size-pixel, $root-font-size-pixel: 16, $return-unit: true) {
    $ret: $element-size-pixel / $root-font-size-pixel;
    @if $return-unit {
        $ret: $ret + em;
    } 
    @return $ret;
}

@function em-to-pixel($element-size-em, $root-font-size-pixel: 16, $return-unit: true) {
    $ret: $element-size-em * $root-font-size-pixel;
    @if $return-unit {
        $ret: $ret + px;
    } 
    @return $ret;
}

@function pixel-to-vw($element-size-pixel, $viewport-width-pixel, $return-unit: true) {
    $ret: 100 / $viewport-width-pixel * $element-size-pixel;
    @if $return-unit {
        $ret: $ret + vw;
    } 
    @return $ret;
}

@function vw-to-pixel($element-size-vw, $viewport-width-pixel, $return-unit: true) {
    $ret: $viewport-width-pixel / 100 * $element-size-vw;
    @if $return-unit {
        $ret: $ret + px;
    } 
    @return $ret;
}

@function pixel-to-percentage($element-size-pixel, $root-size-pixel, $return-unit: true) {
    $ret: $element-size-pixel / $root-size-pixel * 100;
    @if $return-unit {
        $ret: #{$ret + '%'};
    } 
    @return $ret;
}

@function percentage-to-pixel($element-size-percentage, $root-size-pixel, $return-unit: true) {
    $ret: $element-size-percentage / 100 * $root-size-pixel;
    @if $return-unit {
        $ret: $ret + px;
    } 
    @return $ret;
}