<template>
  <div id="app">
    <NavbarView 
    ref="app-navbarview"
    :blurAmount="blurAmount"
    :navList="data.navbar.navbarView.navList"
    :navException="data.navbar.navbarView.navException"
    @mounted="syncNavbarHeight"/>

    <div 
    class="app-layout"
    ref="app-layout" 
    :style="`filter: blur(${blurAmount})`">
      <RouteView/>

      <router-view/>

      <FooterView/>
    </div>

    <Notification/>
  </div>
</template>

<script>
import data from './model/data'
import NavbarView from './views/NavbarView'
import FooterView from './views/FooterView'

export default {
  name: 'App',
  components: { 
    NavbarView,
    FooterView,
    RouteView: () => import('./views/RouteView'),
    Notification: () => import('./components/Notification'),
  },
  mounted() {
    document.getElementById('initial-loading').style.display = 'none'

    window.addEventListener('resize', this.syncNavbarHeight)

    this.$store.subscribe((mutation) => {
      if(mutation.type === 'setNavSidebarOpen') {
        this.blurAmount = (mutation.payload) ? '4px' : '0px'
      }
    })

    window.addEventListener('dragstart', (event) => {
      event.preventDefault()
    })

    window.addEventListener('keydown', (event) => {
      if(event.key === 'Tab') event.preventDefault()
    })

    this.$refs['app-layout'].addEventListener('mousedown', () => {
      this.$store.commit('setNavSidebarOpen', false)
    })
    this.$refs['app-layout'].addEventListener('touchdown', () => {
      this.$store.commit('setNavSidebarOpen', false)
    })

    this.$router.afterEach(() => {
      window.scrollTo({
        top: 0,
        left: 0,
      })
    })
  },
  methods: {
    syncNavbarHeight() {
      this.$refs['app-layout'].style.marginTop = window.getComputedStyle(this.$refs['app-navbarview'].$el).height
    }
  },
  data() {
    return {
      blurAmount: '0px',
      data: data
    }
  }
}
</script>

<style lang="scss">
@import './css/normalize';

body {
  min-height: stretch;
}

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

#app {
  background: $color-background;
  min-width: 320px;
  position: relative;
}
</style>
