<template>
    <main class="contact-container">
        <div class="contact-gap contact-gap-1"/>

        <ContactView 
        class="contact-contactView"
        :image="contactView.image"
        :formHeading="contactView.formHeading"
        :inputList="contactView.inputList"/>

        <div class="contact-gap contact-gap-2"/>

        <QuestionView
        class="contact-questionview"
        :heading="questionView.heading"
        :subHeading="questionView.subHeading"
        :questionList="questionView.questionList"/>

        <div class="contact-gap contact-gap-3"/>
    </main>
</template>

<script>
/*
***********************************************************************
    contactView: OBJECT(
        image: OBJECT(
            1: IMAGE
            2: IMAGE
            3: IMAGE
        )
        formHeading: STRING
        inputList: ARRAY(
            OBJECT(
                id: STRING
                label: STRING
                name: STRING
                type: STRING ['TEXT', 'DROPDOWN', 'TEXTAREA']
                value: STRING
                textareaRows
                dropdownPlaceholder: STRING
                dropdownOptions: ARRAY(
                    STRING
                )
                autocomplete: STRING ['off', '']
                disable: BOOLEAN
                error: BOOLEAN
            )
        )
    )
    questionView: OBJECT(
        heading: STRING,
        subHeading: STRING,
        questionList: ARRAY(
            OBJECT(
                question: STRING,
                answer: STRING
            )
        )
    )
***********************************************************************
*/
export default {
    name: 'Contact',
    components: { 
        ContactView: () => import('../views/ContactView'), 
        QuestionView: () => import('../views/QuestionView'),
    },
    props: ['contactView', 'questionView'],
    created() {
        this.$store.commit('setLayoutColor', this.$store.getters.colors.colorPrimary)
    }
}
</script>

<style lang="scss">
.contact-gap {
    width: 1440px;
    background: $color-primary;
    margin: 0 auto;
}
.contact-gap-1 {
    height: 160px;
}
.contact-gap-2 {
    height: 180px;
}
.contact-gap-3 {
    height: 94px;
}
@media screen and (max-width: 1440px) {
    .contact-gap {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .contact-gap-1 {
        height: 80px;
    }
    .contact-gap-3 {
        height: 60px;
    }
}
</style>