<template>
    <main class="enquiry-container">
        <div class="enquiry-gap enquiry-gap-1"/>

        <EnquiryView
        class="enquiry-enquiryview"
        :backgroundImage="enquiryView.backgroundImage"
        :formHeading="enquiryView.formHeading"
        :inputList="enquiryView.inputList"/>

        <div class="enquiry-gap enquiry-gap-2"/>

        <EnquiryTextView
        class="enquiry-enquirytextview"
        :heading="enquiryTextView.heading"
        :paragraph="enquiryTextView.paragraph"/>

        <div class="enquiry-gap enquiry-gap-3"/>
    </main>
</template>

<script>
/*
*******************************************************************
    enquiryView: OBJECT(
        backgroundImage: OBJECT(
            1: IMAGE
            2: IMAGE
            3: IMAGE
        )
        formHeading: STRING
        inputList: ARRAY(
            OBJECT(
                id: STRING
                label: STRING
                name: STRING
                type: STRING ['TEXT', 'DROPDOWN', 'TEXTAREA']
                value: STRING
                dropdownPlaceholder: STRING
                dropdownOptions: ARRAY(
                    STRING
                )
                autocomplete: STRING ['off', '']
                disable: BOOLEAN
                error: BOOLEAN
            )
        )
    )
    enquiryTextView: OBJECT(
        heading: STRING
        paragraph: STRING
    )
*******************************************************************
*/
export default {
    name: 'Enquiry',
    components: { 
        EnquiryView: () => import('../views/EnquiryView'), 
        EnquiryTextView: () => import('../views/EnquiryTextView')
    },
    props: ['enquiryView', 'enquiryTextView'],
    created() {
        this.$store.commit('setLayoutColor', this.$store.getters.colors.colorPrimary)
    },
}
</script>

<style lang="scss">
.enquiry-gap {
    width: 1440px;
    background: $color-primary;
    margin: 0 auto;
}
.enquiry-gap-1 {
    height: 0;
}
.enquiry-gap-2 {
    height: 234px;
}
.enquiry-gap-3 {
    height: 103px;
}
@media screen and (max-width: 1440px) {
    .enquiry-gap {
        width: 100%;
    }   
}
@media screen and (max-width: 536px) {
    .enquiry-gap-2 {
        height: pixel-to-vw(234, 536);
    }
}
</style>