<template>
    <main class="main-container">
        <div class="main-gap main-gap-1"/>

        <CarouselWithBackgroundView 
        class="main-carouselwithbackgroundview"
        :content="carouselWithBackgroundView.content"/>

        <div class="main-gap main-gap-2"/>

        <MainCarouselView
        class="main-mainbigcarousel"
        :links="mainCarouselView.links"
        :heading="mainCarouselView.heading"/>

        <div class="main-gap main-gap-3"/>

        <MainSectionOneView
        class="main-mainsectionone"/>

        <div class="main-gap main-gap-4"/>

        <MainSectionTwoView
        class="main-mainsectiontwo"/>

        <div class="main-gap main-gap-5"/>
    </main>
</template>

<script>
/*
*****************************************************
    carouselWithBackgroundView: OBJECT(
        content: ARRAY(
            OBJECT(
                heading: ARRAY(
                    OBJECT(
                        word: STRING,
                        color: STRING
                    )
                )
                description: STRING
                 backgroundImg: OBJECT(
                    1: IMAGE
                    2: IMAGE
                    3: IMAGE
                )
            )
        )
    )
    mainCarouselView: OBJECT(
        links: ARRAY(
            OBJECT(
                title: STRING
                cards: ARRAY(
                    OBJECT(
                        img: OBJECT(
                            1: IMAGE
                            2: IMAGE
                            3: IMAGE
                        )
                        name: STRING
                        description: ARRAY(
                            OBJECT(
                                word: STRING
                                color: STRING
                            )
                        )
                    )
                )
            )
        )
        heading: STRING
    )
*****************************************************
*/
import CarouselWithBackgroundView from '../views/CarouselWithBackgroundView'

export default {
    name: 'Main',
    components: { 
        CarouselWithBackgroundView, 
        MainCarouselView: () => import('../views/MainCarouselView'), 
        MainSectionOneView: () => import('../views/MainSectionOneView'), 
        MainSectionTwoView: () => import('../views/MainSectionTwoView'), 
    },
    props: ['carouselWithBackgroundView', 'mainCarouselView'],
    created() {
        this.$store.commit('setLayoutColor', this.$store.getters.colors.colorBackground)
    }
}
</script>

<style lang="scss">
.main-gap {
    width: 1440px;
    margin: 0 auto;
}
.main-gap-1 {
    height: 0;
}
.main-gap-2 {
    height: 83px;
}
.main-gap-3 {
    height: 69px;
}
.main-gap-4 {
    height: 135px;
}
.main-gap-5 {
    height: 143px;
}
@media screen and (max-width: 1440px) {
    .main-gap {
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .main-gap-2 {
        height: 54px;
    }
}
@media screen and (max-width: 768px) {
    .main-gap-3 {
        height: 43px;
    }
    .main-gap-4 {
        height: 55px;
    }
    .main-gap-5 {
        height: 53px;
    }
}
@media screen and (max-width: 512px) {
    .main-gap-2 {
        height: 62px;
    }
}
@media screen and (max-width: 408px) {
    .main-gap-2 {
        height: 82px;
    }
}
</style>