<template>
    <main class="product-container">
        <div class="product-gap product-gap-1"/>

        <ProductInfoView
        class="product-productinfoview"
        :productList="productInfoView.productList"
        :start="start"
        />

        <div class="product-gap product-gap-2"/>
    </main>
</template>

<script>
/*
**************************************
    productInfoView: OBJECT(
        productList: ARRAY(
            imageList: ARRAY(
                OBJECT(
                    1: IMAGE
                    2: IMAGE
                    3: IMAGE
                )
            )
            name: STRING
            heading: STRING
            code: STRING
            dimension: STRING
            description: STRING
        )
    )
***************************************
*/
export default {
    name: 'Product',
    components: {
        ProductInfoView: () => import('../views/ProductInfoView'),
    },
    props: ['productInfoView','start'],
    created() {
        this.$store.commit('setLayoutColor', this.$store.getters.colors.colorPrimary)
    }
}
</script>

<style lang="scss">
.product-gap {
    width: 1440px;
    background: $color-primary;
    margin: 0 auto;
}
.product-gap-1 {
    height: 102px;
}
.product-gap-2 {
    height: 195px;
}
@media screen and (max-width: 1440px) {
    .product-gap {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .product-gap-1 {
        height: pixel-to-vw(102, 768);
    }
    .product-gap-2 {
        height: pixel-to-vw(130, 768);
    }
}
</style>