<template>
    <main class="productorservice-container">
        <div class="productorservice-gap productorservice-gap-1"/>

        <ProductOrServiceView 
        class="productorservice-productorserviceview"
        :productImg="productOrServiceView.productImg"
        :serviceImg="productOrServiceView.serviceImg"
        :heading="productOrServiceView.heading"
        :productName="productOrServiceView.productName"
        :serviceName="productOrServiceView.serviceName"
        :productRoute="productOrServiceView.productRoute"
        :serviceRoute="productOrServiceView.serviceRoute"/>

        <div class="productorservice-gap productorservice-gap-2"/>
    </main>
</template>

<script>
/*
***************************************
    productOrServiceView: OBJECT(
        productImg: OBJECT(
            1: IMAGE,
            2: IMAGE,
            3: IMAGE
        )
        serviceImg: OBJECT(
            1: IMAGE,
            2: IMAGE,
            3: IMAGE
        )
        heading: STRING
        productName: STRING
        serviceName: STRING
        productRoute: ROUTE
        serviceRoute: ROUTE
    )
***************************************
*/
export default {
    name: 'ProductOrService',
    components: { 
        ProductOrServiceView: () => import('../views/ProductOrServiceView'),
    },
    props: ['productOrServiceView'],
    created() {
        this.$store.commit('setLayoutColor', this.$store.getters.colors.colorPrimary)
    }
}
</script>

<style lang="scss">
.productorservice-gap {
    width: 1440px;
    background: $color-primary;
    margin: 0 auto;
}
.productorservice-gap-1 {
    height: 0;
}
.productorservice-gap-2 {
    height: 61px;
}
@media screen and (max-width: 1440px) {
    .productorservice-gap {
        width: 100%;
    }
}
</style>