<template>
    <main class="productlist-container">
        <div class="productlist-gap productlist-gap-1"/>

        <ProductCardView 
        class="productlist-productcardview"
        :heading="productCardView.heading"
        :cardList="productCardView.cardList"/>

        <div class="productlist-gap productlist-gap-2"/>
    </main>
</template>

<script>
/*
***************************************
    productCardView: OBJECT(
        heading: STRING
        cardList: ARRAY(
            OBJECT(
                image: OBJECT(
                    1: IMAGE
                    2: IMAGE
                    3: IMAGE
                )
                title: STRING
                subTitle: STRING
                code: STRING
                infoList: OBJECT(
                    left: ARRAY(
                        OBJECT(
                            title: STRING
                            value: STRING
                        )
                    )
                    right: ARRAY(
                        OBJECT(
                            title: STRING
                            value: STRING
                        )
                    )
                    bottom: OBJECT(
                        title: STRING
                        value: STRING
                    )
                )
                route: ROUTE
            )
        )
    )
***************************************
*/
export default {
    name: 'ProductList',
    components: { 
        ProductCardView: () => import('../views/ProductCardView'),
    },
    props: ['productCardView'],
    created() {
        this.$store.commit('setLayoutColor', this.$store.getters.colors.colorBackground)
    }
}
</script>

<style lang="scss">
.productlist-gap {
    width: 1440px;
    margin: 0 auto;
}
.productlist-gap-1 {
    height: 0;
}
.productlist-gap-2 {
    height: 141px;
}
@media screen and (max-width: 1440px) {
    .productlist-gap {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .productlist-gap-2 {
        height: 60px;
    }
}
</style>