<template>
    <main class="servicelist-container">
        <div class="servicelist-gap servicelist-gap-1"/>

        <ServiceImageView
        class="servicelist-serviceimageview"
        :backgroundImage="serviceImageView.backgroundImage"
        :heading="serviceImageView.heading"
        :description="serviceImageView.description"
        :route="serviceImageView.route"/>

        <div class="servicelist-gap servicelist-gap-2"/>

        <ServiceCardView
        class="servicelist-servicecardview"
        :heading="serviceCardView.heading"
        :cardList="serviceCardView.cardList"
        :gridColumnCount="serviceCardView.gridColumnCount"/>

        <div class="servicelist-gap servicelist-gap-3"/>
    </main>
</template>

<script>
/*
************************************************
    serviceImageView: OBJECT(
        backgroundImage: OBJECT(
            1: IMAGE
            2: IMAGE
            3: IMAGE
        )
        heading: STRING
        description: STRING
        route: ROUTE
    )
    serviceCardView: OBJECT(
        heading: STRING,
        cardList: ARRAY(
            OBJECT(
                title: STRING
                description: STRING
                backgroundImage: OBJECT(
                    1: IMAGE
                    2: IMAGE
                    3: IMAGE
                )
            )
        )
        gridColumnCount: INTEGER
    )
************************************************
*/
export default {
    name: 'ServiceList',
    components: { 
        ServiceImageView: () => import('../views/ServiceImageView'),
        ServiceCardView: () => import('../views/ServiceCardView'),
    },
    props: ['serviceImageView','serviceCardView'],
    created() {
        this.$store.commit('setLayoutColor', this.$store.getters.colors.colorPrimary)
    }
}
</script>

<style lang="scss">
.servicelist-gap {
    width: 1440px;
    background: $color-primary;
    margin: 0 auto;
}
.servicelist-gap-1 {
    height: 0;
}
.servicelist-gap-2 {
    height: 70px;
}
.servicelist-gap-3 {
    height: 153px;
}
@media screen and (max-width: 1440px) {
    .servicelist-gap {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .servicelist-gap-2 {
        height: 40px;
    }
    .servicelist-gap-3 {
        height: 110px;
    }
}
</style>