<template>
    <main class="service-container">
        <div class="service-gap service-gap-1"/>

        <ServiceContentView 
        class="service-servicecontentview"
        :backgroundImage="serviceContentView.backgroundImage"
        :heading="serviceContentView.heading"
        :name="serviceContentView.name"
        :subHeading="serviceContentView.subHeading"
        :description="serviceContentView.description"/>

        <div class="service-gap service-gap-2"/>

        <QuestionView
        v-if="questionView.exists"
        class="service-questionview"
        :heading="questionView.heading"
        :subHeading="questionView.subHeading"
        :questionList="questionView.questionList"/>

        <div class="service-gap service-gap-3"/>
    </main>
</template>

<script>
/*
*********************************************
    serviceContentView: OBJECT(
        name: STRING,
        heading: STRING,
        subHeading: STRING,
        description: STRING,
        backgroundImage: OBJECT(
            1: IMAGE
            2: IMAGE
            3: IMAGE
        )
    )
    questionView: OBJECT(
        exists: BOOLEAN
        heading: STRING,
        subHeading: STRING,
        questionList: ARRAY(
            OBJECT(
                question: STRING,
                answer: STRING
            )
        )
    )
*********************************************
*/
export default {
    name: 'Service',
    components: { 
        ServiceContentView: () => import('../views/ServiceContentView'),
        QuestionView: () => import('../views/QuestionView'),
    },
    props: ['serviceContentView', 'questionView'],
    created() {
        this.$store.commit('setLayoutColor', this.$store.getters.colors.colorPrimary)
    }
}
</script>

<style lang="scss">
.service-gap {
    width: 1440px;
    background: $color-primary;
    margin: 0 auto;
}
.service-gap-1 {
    height: 0;
}
.service-gap-2 {
    height: 81px;
}
.service-gap-3 {
    height: 91px;
}
@media screen and (max-width: 1440px) {
    .service-gap {
        width: 100%;
    }
}
</style>