<template>
    <main class="tieups-container">
        <div class="tieups-gap tieups-gap-1"/>

        <TieupsView 
        class="tieups-tieupsview"
        :heading="tieupsView.heading"
        :partnerList="tieupsView.partnerList"/>

        <div class="tieups-gap tieups-gap-2"/>
    </main>
</template>

<script>
/*
**********************************
    tieupsView: OBJECT(
        heading: STRING
        partnerList: ARRAY(
            OBJECT(
                name: STRING,
                img: OBJECT(
                    1: IMAGE
                    2: IMAGE
                    3: IMAGE
                )
            )
        )
    )
**********************************
*/
export default {
    name: 'Tieups',
    components: { 
        TieupsView: () => import('../views/TieupsView')
    },
    props: ['tieupsView'],
    created() {
        this.$store.commit('setLayoutColor', this.$store.getters.colors.colorPrimary)
    }
}
</script>

<style lang="scss">
.tieups-gap {
    width: 1440px;
    background: $color-primary;
    margin: 0 auto;
}
.tieups-gap-1 {
    height: 54px;
}
.tieups-gap-2 {
    height: 122px;
}
@media screen and (max-width: 1440px) {
    .tieups-gap {
        width: 100%;
    }
}
</style>